[2017-05-09 12:38] smola opened #1 "support running tests in Docker with make"
Running babelfish server currently requires root. This makes running tests a pain, so `Makefile` should be modified to run tests in Docker and `travis.yml` should be updated if needed.

[2017-05-09 12:44] smola opened #2 "add driver client"
Add driver client to be used by the server.

It should implement, at least:

[code]

The rest of it should be something along the lines of:

[code]

[2017-05-09 12:45] smola opened #3 "add driver client pool"
Create driver client pool, controlling the execution of a pool of drivers with the same image and using it to serve concurrent requests.

[2017-05-09 12:49] smola opened #4 "add language detecting driver client"
Add driver client that does language detection with simple-linguist and routes it to the required driver if present.

[2017-05-09 12:50] smola opened #5 "add basic gRPC server"
Add basic `Server` that takes a runtime path and uses it to execute drivers with default names (`bblfsh/<language>-driver`) given gRPC requests.

[2017-05-09 12:51] smola opened #6 "add basic gRPC client"
Add basic gRPC client to test the server.

[2017-05-17 09:55] #1 closed

[2017-05-30 12:11] #2 closed

[2017-05-30 12:11] #4 closed

[2017-05-30 12:11] #5 closed

[2017-05-30 12:11] #6 closed

[2017-05-30 15:13] #3 closed

[2017-06-14 09:03] smola opened #23 "publish server binary to GitHub releases"

[2017-06-14 12:19] juanjux opened #26 "Request hangs on the first ParseUAST call after a previous request with a FATAL error"
## Summary

Doing ParseUAST requests in a loop for several files will hang on ParseUAST() if the previous request returned a FATAL error, even reconnecting after it.

## Expected result

If we handle the error subsequent ParseUASTRequest for different files should continue, maybe after doing a reconnect to the server.

## Obtained result

The server log show the source code of the next file but th

[2017-06-14 13:04] smola opened #28 "support querying the server for installed drivers and supported drivers"
Clients should be able to query the server for installed drivers, as well as supported drivers (maybe through some metadata file published officially).

[2017-06-14 13:11] vmarkovtsev commented on #28
One of the possible implementations is to query a fake file for every language (the list can be taken from src-d/enry or github/linguist), record failures and build the registry. Can take some time if implemented straightforward; I bet there is a docker API to check the existence of a container very fast.

[2017-06-14 13:14] vmarkovtsev commented on #28
As for now, hardcode! :laughing: https://github.com/src-d/ast2vec/blob/master/ast2vec/repo2nbow.py#L51

[2017-06-15 13:08] smola commented on #28
We should also expose which version of the driver is installed.

[2017-06-15 19:54] dennwc opened #29 "Server build fails"
Server version: 54c71fc1e313430b3fda16e1e7b0509455cfd5fc
SDK version: https://github.com/bblfsh/sdk/commit/df3e0dadeb24ad49f38561f0955312f3024c82fe

Build log:

[code]

[2017-06-16 09:24] smola opened #32 "allow multiple drivers to be installed simultaneously"

[2017-06-16 10:00] smola opened #33 "add CLI flag for log level"
Add CLI flag for log level.

[2017-06-16 12:41] abeaumont commented on #29
It looks like an Alpine's C library version issue, I've not been able to reproduce it yet.

[2017-06-16 15:45] vmarkovtsev opened #34 "Concurrent queries return randomly corrupted UASTs"
We use the following script to reproduce the problem:

[code]

Please note that you need the patch to client-python: https://github.com/vmarkovtsev/bblfsh.client-python/tree/main-change

Result: 1.txt, 2.txt and 3.txt are randomly different (checked with `diff`). Besides, some files are in wrong places or empty.

[2017-06-16 15:51] vmarkovtsev commented on #34
Actually, we seem to reproduce it even with a single process. If I add `time.sleep()` between requests, they become valid and 100% the same.

[2017-06-16 15:53] vmarkovtsev commented on #34
Another observation: we did not test it with a single instance of the driver. We will test it now.

[2017-06-16 16:06] EgorBu commented on #34
[log.txt.gz](https://github.com/bblfsh/server/files/1081337/log.txt.gz)

[2017-06-16 16:07] EgorBu commented on #34
This is the log we get. I see errors with empty `__init__.py`, though not sure if they are relevant. Besides, the environment var Vadim added in https://github.com/bblfsh/server/pull/25 seem to not work.

[2017-06-16 16:10] vmarkovtsev commented on #34
@juanjux BTW those errors on empty files do not look like gracefully handled :)

[2017-06-16 16:10] abeaumont commented on #34
Does it only happen with all these files or still happens with a smaller number of files? If the latter, could you provide an example with the minimum number of files and those files to try to reproduce the problem?

[2017-06-16 16:11] abeaumont commented on #34
This may or may not be related with https://github.com/bblfsh/java-driver/issues/19

[2017-06-16 16:13] vmarkovtsev commented on #34
We will try to reduce it now.

[2017-06-16 16:24] EgorBu commented on #34
We tortured it to death!

` ` `
status: FATAL
errors: "timedout: all drivers are busy"

status: FATAL
errors: "timedout: all drivers are busy"

status: FATAL
errors: "timedout: all drivers are busy"

status: FATAL
errors: "timedout: all drivers are busy"

status: FATAL
errors: "timedout: all drivers are busy"

status: FATAL
errors: "timedout: all drivers are busy"

status: FATAL
errors: "timedout:

[2017-06-16 16:36] EgorBu commented on #34
This is the minimal example which reproduces the problem in 50% of the cases:

[code]

[2017-06-19 15:20] vmarkovtsev opened #36 "High load concurrent queries hang"
When I execute many (3000) concurrent queries (4 threads), Babelfish server either hangs or drops some requests without answering them. CPU load is 0%. After that, server becomes completely unresponsive and I have to restart it.

[2017-06-20 14:39] EgorBu opened #37 "Strange behaviour during launching bblfsh server"
When you launch bblfsh server and send requests to extract UAST before it fetches all docker images, bblfsh server returns empty responses.

How to reproduce:
1) launch server
`docker run --privileged -p 9432:9432 --name bblfsh -e BBLFSH_MAX_INSTANCES_PER_DRIVER=1 bblfsh/server`
2) in parallel console start to send requests:
`LC_ALL=en_GB.UTF-8 python3 -m ast2vec repo2coocc --bblfsh 172.17.0.1:943

[2017-06-20 15:48] juanjux commented on #34
I'll try to reproduce and fix this tomorrow as I return from CurryOn.

Sorry for the delay.

[2017-06-21 08:57] juanjux commented on #34
Not the same problem (but could be related), I'm seeing that parsing those __init__.py files directly from the driver (without the server) produce a fatal error "missing content" (since the files are empty) which should be a normal "error" (with an empty AST returned) and not a fatal (since fatal errors stop any further processing from that driver and this isn't really anything unrecoverable). I'l

[2017-06-21 12:56] abeaumont commented on #23
I think this is already being done, but not sure of how exactly. It'd be nice to document the publish/deployment procedure.

[2017-06-21 13:09] abeaumont commented on #37
@EgorBu where can I get that ast2vec module and which version are you using to reproduce the problem?

[2017-06-21 13:10] abeaumont commented on #36
@vmarkovtsev Can you explain which command you use to reproduce the bug?

[2017-06-21 13:11] EgorBu commented on #37
github.com/src-d/ast2vec
I think the lastest version should be okay

[2017-06-21 13:30] abeaumont commented on #37
@EgorBu the problem seems related with `parse_uast` timeout parameter in python client. Try with https://github.com/bblfsh/client-python/pull/4 adjusting the timeout, I guess that should fix the problem.

[2017-06-21 13:30] #37 closed

[2017-06-21 15:32] juanjux commented on #34
Update: merged the bug related with empty files causing a fatal error but now I'm seeing an error with the buffer size. This one was recently fixed but the docker image of the server probably has an old version. I'll try with a locally compiled server.

[2017-06-21 17:03] vmarkovtsev commented on #37
@EgorBu We need to verify this tomorrow.

[2017-06-22 08:13] juanjux commented on #34
Update: this bug seems to be a several-headed beast, I'll write and keep updtated a list of found problems so you can see the status from this message. Maybe later I'll split this into several different issues.

- [X] Python driver produces fatal error with empty files
- [ ] Buffer overrun error. **In progress** (shouldn't happen with the current version of the SDK and can't reproduce parsing the

[2017-06-22 10:04] juanjux commented on #36
I've found some instances of the python-client hanging randomly on my debugging of #34. It seems to happen more frequently after the previous request failed for any reason and @smola and I suspect the driver containers could not be closing correctly after some errors, which could cause all the provisioned containers to be in a non-responsive state at the end.

I'll look into it as part of that bug

[2017-06-22 11:24] juanjux commented on #34
Since I can't reproduce this problem anymore after the first fixes I'll close this one. I'll publish new docker images of the server and python-driver soon but meanwhile you can test with a server and python-driver build from ~master. Build the python driver first:

[code]

then tag the created image (`docker tag`) as `bblfsh/python-driver:latest`. Then build  and run the server with:

[code]
Then

[2017-06-22 11:27] vmarkovtsev commented on #34
@juanjux from the first message

[2017-06-22 11:29] vmarkovtsev commented on #34
@juanjux The bug is not reproduced the way your script works. We knew that, that's why we created the patch. Please reopen this and let us test your fixes instead of opening the second issue about the same problems.

[2017-06-22 12:28] juanjux commented on #34
Reopened. I saw your comment but failed to notice it was a specific branch. Anyway I'm testing now with the right branch and the same script (plus the --disable-bblfsh-autorun parameter to use my local updated server) and I'm always getting the same result. Right now I'm writing a script to do it some hundreds times before I go to lunch to be 100% safe.

Sorry for closing the bug report before you

[2017-06-22 12:40] juanjux commented on #34
This will be running in the background for a while (run with full `bash`, not `sh`). For the moment it didn't detect any changes on 60 iterations. I'm also helping Egor test the fix via Slack.

[code]

[2017-06-22 12:51] juanjux commented on #36
I'll be fixing github.com/bblfsh/python-driver/issues/27 first since it could also be related (the problem seem to be worsened by driver failures).

[2017-06-22 14:27] juanjux commented on #34
Worked 500 times. I'll make a Docker image so Egor can test this without much hassle.

[2017-06-22 20:54] vmarkovtsev commented on #34
Thanks! Tomorrow ML has OSF, so Egor will be able to test on Monday.

[2017-06-23 05:45] juanjux commented on #34
Ok Vadim, as I spoke with Egor, I'll prepare a Dockerfile that downloads and compiles all components in ~master so this and other bugfixes are easier to test by you both before releasing new versions of the docker images on dockerhub with the bugfixes.

[2017-06-27 13:52] juanjux commented on #34
I created a project with a Dockerfile and  a test script here: https://github.com/juanjux/bblfsh-dev-image

For testing:

[code]

[2017-06-27 14:40] bzz commented on #34
Thank you @juanjux!

[2017-06-28 06:48] smola commented on #29
Right. The thing is that we mount the host GOPATH into the container, and this might cause this kind of problems. @dennwc which distro do you use?

[2017-06-28 06:49] smola commented on #23
@abeaumont I uploaded it manually, but we should set it up automatically on Travis.

[2017-06-28 06:49] smola opened #42 "Server does not clean up driver instances when the driver dies"

[2017-06-28 06:50] juanjux commented on #34
Found the same problem tonight actually, should be fixed on the current version of the docker image project.

[2017-06-28 08:30] smola opened #43 "add a mechanism to select specific images for language drivers"
Currently we always use `bblfsh/<lang>-driver:latest` but we should be able to select specific images for some languages with environment variables. That will be particularly useful for testing.

I would say something like `JAVA_DRIVER_IMAGE=myimage:foo` or `JAVA_DRIVER_IMAGE=docker-daemon:myimage:foo`, but this is open to discussion.

[2017-06-28 09:39] bzz commented on #34
🚀 Works like a charm now - both, python and java driver were built.
Thank you for prompt fixes!

[2017-06-28 10:36] bzz opened #44 "Error reporting on ParseUAST to avoid `panic: runtime error`"
Right now `resp, err := client.ParseUAST(context.TODO(), req)` may fail with error beeing *NOT* `nil` but actual parsing has failed and there are `resp.Errors` and `resp.status` is `fatal`.

~`resp` may be nil (i.e if server is not running)~ which is absolutely fine.

It seems like quite un-obvious behavior (at least for Golang) that may either be possible to fix or at least to documented everywhe

[2017-06-28 10:37] juanjux commented on #36
Update: now that I've the docker to test in a controlled environment I'm seeing different behaviours on different tests:

 - I can bang the server as much as I want in paralell (even to the point of killing my machine swapping) with a Python file that produces quickly a parse error and the server never fails in this way. I think the fix to #34 helped with this.

- ...but if I send a request that p

[2017-06-28 10:44] juanjux commented on #44
I think there are two questions here.

1. Should the response from a not running server be nil? I would like to avoid nil as much as possible, but if it's nil and err is not nil I don't see a big problem here (that behaviour is probably from the Go version of gRPC itself, but I'm not sure).

2. ParseUAST should load `err` if `resp.status != Ok`? I think it should so the user should not have to che

[2017-06-28 10:54] bzz commented on #44
@juanjux agree on both points, sorry for confusion. Updated the description above

[2017-06-28 11:05] smola commented on #44
Documentation fixed here: https://github.com/bblfsh/documentation/pull/53

Note that the Babelfish protocol defines its own error handling (`status` and `errors`) for parsing. This is then wrapped in `gRPC` which generates its own error handling (as second return value: `err`). There's not much we can do here unless we want to offer a more high level wrapper on the client side.

[2017-06-28 11:05] #44 closed

[2017-06-28 11:29] bzz commented on #44
Sounds good.
Probably a nitpick, but I was under impression that issues are usually closed after the fix was merged ;)

[2017-06-28 11:32] juanjux commented on #34
@bzz yep, most of the complications in the Dockerfile is because of dependencies (and dependencies of dependencies) that are missing in Ubuntu 16.04, in 16.10+ is much simpler.

[2017-06-28 14:31] smola commented on #34
Feel free to reopen if it's not fixed.

[2017-06-28 14:31] #34 closed

[2017-06-28 14:55] vmarkovtsev commented on #34
@EgorBu I don't see your test report here. Is everything's fixed for us?

[2017-06-28 15:14] EgorBu commented on #34
Not everything is well.

During the first iteration, it returns constantly the wrong result:
**4.0K instead of 3.3M**

I think it may be related to https://github.com/bblfsh/server/issues/37

[code]

[2017-06-28 15:33] abeaumont commented on #33
Solved with #41

[2017-06-28 15:33] #33 closed

[2017-06-28 15:41] juanjux commented on #34
@egor as I was telling you in slack, is a false positive because of the 5 seconds sleep is not enough for the driver instantiation, so the 3 files are still empty. Changing it to 20 seconds eliminates the problem.

[2017-06-29 10:22] abeaumont commented on #43
I think it'd be better to have a language agnostic solution, since we shouldn't make the server know about every language it'll support (and would be a PITA to maintain). So, I'd opt for a generic environment variable, something along:

`DRIVER_IMAGE="java=docker:myimage:foo;python=docker:anotherimage:bar"`

Opinions?

[2017-06-30 09:01] smola commented on #43
@abeaumont sounds good

[2017-06-30 17:15] juanjux commented on #36
Update:

This bug have shown some existing problems that need to be fixed.

Currently there is a problem that show with some files that produce an error in the Go part of the driver (the SDK) where an error is correctly returned but the next request after that one hangs. That's because the driver reads from the driver container stdin but doesn't write anything to stdout, so the server to driver co

[2017-07-01 00:04] juanjux commented on #36
Fixed the cause of all tests I have that resulted in container hangs: github.com/bblfsh/sdk/pull/135

We'll test together on monday and see if we can close it.

The timeout and the container killing will be done in a separate PR since I want to check some things with my team.

[2017-07-01 00:25] juanjux commented on #36
PS: @bzz

[2017-07-05 13:58] bzz commented on #29
Have just been hit by this one on Ubuntu 16.04.2 LTS.

[2017-07-05 14:21] juanjux commented on #36
@EgorBu and I just checked that this (already merged) fix and the previous ones make the previous problems unreproducible. We banged the server hard with three processes sending it all the tensorflow `.py` files, repeated 20 times, and the files are always the same and the server didn't hang.

I'll release new docker images of the server and the Python & Java drivers today or tomorrow with all the

[2017-07-05 14:21] #36 closed

[2017-07-05 14:23] bzz commented on #42
Could this be a reason why a single thread UAST conversion of every file in 2k repos hangs forever after some time without any messages in logs?

Does anybody know, what is the advised way to get the debug information to verify this issue?

[2017-07-05 14:32] EgorBu commented on #36
here it's code that we used to test
1) repository that gives different uasts for different tries: https://github.com/tensorflow/tensorflow
because of JSON decoder buffer size  - if it exceeds the limit than the driver is broken and returns errors for future requests -> so it make uasts generation not reproducible. @juanjo told that it’s related to :
https://github.com/bblfsh/sdk/pull/135
https://g

[2017-07-05 14:40] juanjux commented on #42
@smola I think this problem was the same as github.com/bblfsh/server/issues/36 that was fixed by PR github.com/bblfsh/sdk/pull/135 so I'm closing it tentatively, please reopen if you encounter or are reported of new instances of this problem.

[2017-07-05 14:41] juanjux commented on #42
@bzz let's try with the new docker images once published with the latest fixes.

[2017-07-05 15:01] abeaumont commented on #42
@juanjux does that PR prevents driver from dying or cleans it up if dead? If it's only the former I'd still keep this open as an enhancement.

[2017-07-05 15:17] juanjux commented on #29
@bzz for the last part, about the testing docker image, you need to do the `docker run -it bblfshdev bash` with the `--privileged` argument. Also, you shouldn't need to `go get` the server since that's already done when the image builds.

Other than that, I can reproduce this problem with the bblfsh-dev docker image but not on my local system (with or without the updated SDK dependency). Applying

[2017-07-05 15:23] smola commented on #29
This might be fixed by using a dedicated GOPATH.
@dennwc @bzz could you try `GOPATH=/my-custom-new-and-empty-gopath make build`?

[2017-07-05 15:25] bzz commented on #29
@smola meanwhile PTAL #52 - it seems that this does not happen with `CGO_ENABLED=0`

[2017-07-05 15:27] bzz commented on #29
May be I've misunderstood something, but `GOPATH=/tmp/gopath make build` fails for me

[code]

[2017-07-05 15:30] #43 closed

[2017-07-05 15:33] smola commented on #29
@bzz Right. My command was wrong, since the server directory should be contained in GOPATH.

[2017-07-05 15:51] bzz commented on #29
as #52 is merged now, @abeaumont shall we close this as well?

[2017-07-05 15:51] abeaumont commented on #29
This should be fixed by #52.

[2017-07-05 15:51] #29 closed

[2017-07-05 16:10] juanjux commented on #42
I think we confused a driver not working because it was blocked waiting for its stdout to be consumed with a dead driver, but we certainly could test forcing a driver to die (`exit(1)`) and checking if the server cleans that container instance. Reopening until I can check.

[2017-07-05 17:08] EgorBu opened #54 "Server can't be launched like explained in bblfsh documentation"
[code]
@abeaumont gave solution how it can be avoided right now:
[code]
but it should be fixed or documentation should be changed.

[2017-07-05 17:20] abeaumont commented on #54
This is a bug introduced with #47, it should be fixed with #55. I'll regenerate a new docker image once this is fixed, since it's rather critical.

[2017-07-05 18:24] bzz commented on #42
@juanjux

I have tried with latest build of everything and this is reproducible :(
Have put details in https://github.com/bblfsh/sdk/issues/130#issuecomment-313176803

[2017-07-05 18:48] juanjux commented on #42
@bzz this is about the server not closing instances of containers when the server dies, in that case the message is like "no more instances available", the hangings are related to 130.

[2017-07-06 06:28] juanjux commented on #36
New Python, Java and Server docker images have been released with all the latest fixes.

[2017-07-06 07:59] #54 closed

[2017-07-06 14:36] EgorBu opened #57 "Server can't handle too big files because of grpc limits: StatusCode.RESOURCE_EXHAUSTED, grpc: trying to send message larger than max"
Code & repo to reproduce
[code]

[2017-07-06 14:39] juanjux commented on #57
We should be able to change it with:

https://godoc.org/google.golang.org/grpc#MaxRecvMsgSize

We also should should test the performance implications of changing the size. Maybe we could dynamically change the size of the message as part of the protocol?

[2017-07-06 14:39] juanjux commented on #57
From @EgorBu on slack:

[code]

[2017-07-06 14:48] abeaumont commented on #57
@juanjux I don't think that can be part of the protocol since it's a server configuration parameter, which has to be set before receiving protocol messages.
I'll add a CLI option to be able to override that value.

[2017-07-06 14:55] juanjux commented on #57
It could be a previous message type, a control message, this could be interesting if increasing the max size destroys performance for the average request for example, but it the performance is unaffected or only slightly worse i wouldn't care with the hassle of doing this. Also, maybe the server can't change these settings dynamically once its running.

[2017-07-07 06:31] bzz commented on #57
FYI - I was not hit by this issue using a sequential, single thread Golang client.
AFAIK @egor uses Python one in a heavily parallel workflow.

[2017-07-07 09:47] abeaumont commented on #57
@EgorBu can you make that `Java` file accessible somewhere or provide a link to it?

[2017-07-10 10:05] #57 closed

[2017-07-10 15:20] EgorBu opened #59 "corrupted response from server"
reproducible for https://github.com/spring/svn-spring-archive
specific file: https://github.com/spring/svn-spring-archive/blob/master/Lobby/TASServer/TASServer.java
[code]

code to reproduce:
[code]

[2017-07-10 15:28] abeaumont commented on #59
@EgorBu that specific file doesn't exist. Could you fix the link please?

[2017-07-10 15:30] EgorBu commented on #59
@abeaumont , thanks, link is fixed

[2017-07-10 15:37] abeaumont commented on #59
I cannot reproduce it with `bblfsh client`, so it may be python specific

[2017-07-10 15:41] abeaumont commented on #59
I can reproduce it with `client-python`

[code]

[2017-07-11 11:27] mcarmonaa opened #63 "Returned value when a language can't be detected"
this is the code used in language.go
[code]

but since enry.OtherLanguage was changed to be the string zero value `""`, the if statement is reassigning again the same value to lang.

What is the expected value this function should return in case a language couldn't be detected?

[2017-07-11 12:01] abeaumont commented on #63
I think current implementation is correct, except that it probably should directly return `enry.OtherLanguage` directly in the `if`. The fact that  currently `enry.OtherLanguage` is `""` is something that `server` developers should not care about.

[2017-07-11 12:29] mcarmonaa commented on #63
`enry.GetLanguage` doesn't return `""` if it can't detect any language, it returns `enry.OtherLanguage`, so the code should something like:

[code]

Is it ok? I could make a PR to fix it.

[2017-07-11 12:34] abeaumont commented on #63
Oh, I see. If you could do the PR that would be great.

[2017-07-11 12:41] mcarmonaa commented on #63
https://github.com/bblfsh/server/pull/64

[2017-07-11 14:18] abeaumont commented on #59
It seems a tree depth problem. I've been able to generate some minimal samples that reproduces the error in both `python` and `java`:
* `python`: https://gist.github.com/abeaumont/57e4b5bbd205d7613aca4b2755cb2fbc
* `java`: https://gist.github.com/abeaumont/df5d6e41b559e8fd2aed40a1895d4972

So it's more likely a bug with `grpc`

[2017-07-11 15:12] abeaumont commented on #59
It seems like a python protobuf problem, I've been able to reproduce the decoding just trying to deserialize the serialized pb:

[code]

[code]

[2017-07-11 16:01] #63 closed

[2017-07-11 16:44] abeaumont commented on #59
Using protobuf directly from `git` seems to work:
[code]

@EgorBu you may want to try that workaround. I don't think we can anything else on our side.

[2017-07-11 16:44] #59 closed

[2017-07-13 10:08] abeaumont opened #66 "Set explicit versions to dependencies in glide.yaml"
We should avoid having versions unset since `glide`'s cache makes weird things in that case.
A sane aproach may be:
* latest stable version for all external dependencies and those internal dependencies with stable versions.
* latest commit in master for internal dependencies without stable versions.

[2017-07-13 14:11] mcarmonaa commented on #66
https://github.com/bblfsh/server/pull/67

[2017-07-13 15:49] bzz opened #68 "Log and rise gRPC message size"
It's not a [problem for grpc](https://github.com/grpc/grpc/issues/7927#issuecomment-248741174) to have bigger sizes and was 100mb by default before 1.0.0

In use-case of [src-d/berserker](https://github.com/src-d/berserker) is not un-common to have 10s mb UASTs so may be shall we try 100mb default instead of 4?

It would also be nice to always log this parameter at runtime, for debugging purpose.

[2017-07-13 16:00] bzz opened #69 "Docker: allow passing CLI args to bblfsh server binary"
Right now

`docker run --privileged -p 9432:9432 --name bblfsh bblfsh/server --some-option 1`

would not pass CLI arguments to the server binary.

This could be changed if instead of `CMD` an `ENTRYPOINT` used in [Dockerfile#L5](https://github.com/bblfsh/server/blob/master/Dockerfile#L5)

[2017-07-14 10:39] mcarmonaa commented on #69
solved https://github.com/bblfsh/server/pull/71

[2017-07-14 12:21] #69 closed

[2017-07-14 12:24] #66 closed

[2017-07-14 13:05] smola commented on #69
Note that you can always pass options by specifying binary to run.

[2017-07-14 14:20] #68 closed

[2017-07-14 16:27] abeaumont commented on #23
solved by #73

[2017-07-14 16:27] #23 closed

[2017-07-17 09:41] bzz opened #74 "Driver image override inside docker"
Right now, if one tries to override default driver images while running server in docker container

[code]

The client will fail with

[code]

There are no attempts to fetch a driver in server logs

[code]

[2017-07-17 10:11] bzz commented on #74
Actually, on linux if I try

[code]

I get very similar

[code]

[2017-07-18 07:31] mcarmonaa commented on #74
@bzz I can't reproduce the last error you get in Linux

[code]

[2017-07-18 08:20] bzz commented on #74
The error I reported happens not on the server startup, but when a client actually processes files.

[2017-07-18 08:38] abeaumont commented on #74
As commented offline, I think the problem is related with the transport used. `docker-daemon` transport looks for local images available through docker daemon (built locally), while you may expect them to get retrieved from the registry. You need to use `docker` transport for that. Please confirm if that's the problem and if so, we should fix and clearify the documentation.

[2017-07-18 09:25] mcarmonaa commented on #74
In the other hand, `--transport=docker-daemon` is not needed since it doesn't override the transport specified for images in BBLFSH_DRIVER_IMAGES

[2017-07-18 09:34] bzz commented on #74
That is what I tried on non-linux - make sure no Driver images exist and then

[code]

The result was the same - empty server logs (no requests from clients) and

[code]

[2017-07-18 12:04] abeaumont commented on #74
Ok, running the above commands on linux I get the following client error:

[code]

[2017-07-18 12:29] mcarmonaa commented on #74
@abeaumont  @bzz I have the same error running a server in a container, but It's not related to overriding with BBLFH_DRIVER_IMAGES varibale, if you run `docker run -e BBLFSH_DRIVER_IMAGES --privileged -p 9432:9432 --name bblfsh bblfsh/server:dev-6bc7fd7 --transport=docker-daemon ` you will get the same error.

I think it's produced because drivers are containers launched from the server container

[2017-07-18 14:07] abeaumont commented on #74
@mcarmonaa I think you're right, that would mean that it doesn't make sense to use the `docker-daemon` transport. @smola is this correct?

[2017-07-19 10:14] bzz opened #75 "Reduce default verbosity of CLI logs"
Processing 1000s or repos results in 100+mb of server logs mostly due to UASTs printed to stdout.
It can be avoided by skipping printing UASTs to stdout.

May be it could be hidden in `-v` or `-vv`   or some deeper log-level? As it is very useful for lower-level debugging.

[2017-07-19 10:22] abeaumont commented on #75
You're right @bzz, thanks for reporting. I'll take a look and get back with a proposal.

[2017-07-20 09:05] abeaumont commented on #75
@bzz for some reason I cannot add you to #76 as a reviewer, but please take a look. I've just categorized better current log messages, which should be enough I think for large scale needs. I'm open to suggestions for better fine-tuning this messages, so please let me know if you miss anything relevant at the `info` level for normal execution at scale.

[2017-07-20 09:06] sils opened #77 "coala Collaboration"
Hi,

I was just made aware of this project and this sounds super interesting - first: I'm the founder of coala.io and we have been thinking about doing some universal AST as well but never got around doing it properly. It's great to see that there's an own project and effort around this concept!

coala is a python based open source code analysis *framework* with a dependency mechanism. The main id

[2017-07-20 09:20] sils commented on #77
CCing:

- @Udayan12167 @sims1253 from the coala research group
- @jayvdb because of being generally awesome and I presume interested in this stuff
- @fneu FYI

[2017-07-20 14:35] mcuadros commented on #77
@sils I already knew coala.io, is an amazing project.

The bblfsh project born with the idea of group the efforts from several companies and individual contributors, that's why it has his own organization and is not hosted at the company organization. Or why we have the [BIPs](https://doc.bblf.sh/proposals/), a formal way of suggest changes to the project.

We are very open on having external cont

[2017-07-20 15:02] eiso commented on #77
@sils as @mcuadros mentioned, we'd love to collaborate! Babelfish and all of the work we contribute to at @src-d is designed to be an open source stack for ML & analysis on source code.

Outside of having a call, definitely join the slack channel. The babelfish channel is where all discussions are happening and you see the latest work. I am excited to see what we can do together.

[2017-07-20 16:14] zurk opened #78 "bblfsh spawns zombie processes when it runs on ubuntu"
### What happened?
I worked with bblfsh on science-3 machine and found that too many zombies spawn in the system.
when I close bblfsh container they are gone away.

### How can you reproduce it?
I work with bblfsh on science-3 machine.
It will be easier to reproduce it on it (In case, I can show you how) but in general, I do something like this:
run bblfsh in the usual way
`docker run --privileged

[2017-07-20 16:22] sils commented on #77
[We feel right at home](https://github.com/coala/cEPs) :)

[2017-07-20 16:29] abeaumont commented on #78
I'd say it's a duplicate of #42

[2017-07-21 08:18] zurk commented on #78
Seems to be.
Can you estimate when it will be fixed?

[2017-07-21 08:22] abeaumont commented on #78
@zurk I'll close this, let's move the discussion to #42 to avoid duplication

[2017-07-21 08:22] #78 closed

[2017-07-21 08:23] abeaumont commented on #42
@zurk has been hit by this issue and reported it at #78

[2017-07-21 08:39] juanjux commented on #42
I'll take a look at this today.

[2017-07-21 10:24] sils commented on #77
Closing this issue to not clutter your tracker, we've started to bond and we'll see how everything goes. Seeing forward to this happening :)

[2017-07-21 10:24] #77 closed

[2017-07-21 16:17] juanjux commented on #42
## Update

I've been able to reproduce https://github.com/bblfsh/server/issues/78 with the steps included (after fixing some imports and command line parameters, I guess because it's the @develop version of ast2vec). After running the provided script, there are 4 zombie `runc` processes, spawned from the server that are cleared when you close the server.

There weren't errors during the parsing so

[2017-07-25 13:37] juanjux commented on #42
So, after much debugging and many loud WTFs I found that it's a `runc` bug: https://github.com/opencontainers/runc/issues/1443

Looks like it's normal that runc generates a zombie process at that point, but it should be reaped (the zombie process is generated exactly [here](https://github.com/opencontainers/runc/blob/master/libcontainer/process_linux.go#L246). I've tested [this PR](https://github.

[2017-07-25 17:08] juanjux commented on #42
Fixed by #79

[2017-07-26 06:46] juanjux commented on #78
Should be fixed by https://github.com/bblfsh/server/pull/79. I've also tested with the provided script and no zombie processes were created. Please note that the script doesn't work anymore with the current `develop` branch of `ast2vec`.

[2017-07-26 06:47] juanjux commented on #42
I've also tested with the script provided by @zurk and no zombie processes were created. Please note that the script doesn't work anymore with the current `develop` branch of `ast2vec`.

[2017-07-26 13:11] bzz commented on #75
Sorry, I must have missed it.
I think #76 addresses this issue perfectly

[2017-07-26 13:15] abeaumont commented on #75
Great, closing then. Should you find any way to improve default logging please open a new issue or PR

[2017-07-26 13:15] #75 closed

[2017-07-26 13:16] #42 closed

[2017-07-26 17:30] zurk commented on #59
Yes, It helps me.
I found that the problem appears with protobuf `v3.3.0` python package.
If you will get `v3.3.2`, it works fine. But it is not in PyPl now, you need to install it from git as @abeaumont said [here](https://github.com/bblfsh/server/issues/59#issuecomment-314503776).

But It is also `protoc` file should be somewhere in your PATH.
You can build it from source or get from `v3.3.0` re

[2017-08-02 08:24] abeaumont opened #80 "Improve configuration management in the server"
Currently we have some configuration handled by CLI options and envvars, we can use a better config system.

[2017-08-02 08:28] #26 closed

[2017-08-02 17:31] zurk opened #82 "QUALIFIED_IDENTIFIER is not SIMPLE_IDENTIFIER and duplication of CALL_CALLEE role"
I found that `QUALIFIED_IDENTIFIER` is not `SIMPLE_IDENTIFIER`, but @vmarkovtsev say that it is supposed to be.
Also, I found duplication of `CALL_CALLEE` role.

How to reproduce:
[code]
`matplotlib_example.py`:
[code]
Output (lines 76-83):
[code]

The problem is in `figure` token. It means that we do not take into account function names during our machine leaning analysis

[2017-08-03 08:44] abeaumont commented on #82
@zurk thanks for reporting. If I understand it correctly, it seems a python specific problem, and thus it should be reported in the [python driver](https://github.com/bblfsh/python-driver/) project.

[2017-08-03 08:56] zurk commented on #82
Ok, close this one.
Moved to https://github.com/bblfsh/python-driver/issues/51

[2017-08-03 08:56] #82 closed

[2017-08-04 14:57] smola opened #83 "released bblfsh binary is dynamically linked against musl"
[code]

cc @rporres

[2017-08-04 14:57] smola commented on #83
I guess we should either statically link it or link against glibc?

[2017-08-04 18:42] juanjux opened #84 "`--transport=docker-daemon` doesn't work then running the server from Docker"
If I run the server like:

[code]

And then do a client request, I get this error:

[code]

But it works perfectly if I run the server directly without Docker:

[code]

[2017-08-07 09:23] juanjux commented on #74
Yes, I can reproduce this, my theory is that the server is looking for the image on the local docker daemon inside it's own docker image and not on the hosting one because the `--docker-transport` option works perfectly with the server running outside docker.

[2017-08-08 08:04] juanjux commented on #84
Closing as duplicate of #74

[2017-08-08 08:04] #84 closed

[2017-08-09 08:13] juanjux commented on #74
After much code reading and messing around, there is not a programmatic solution  that I know because the server inside the Docker will search for the Docker daemon that it can access, inside it's own container, but there is a very simple solution that works and it's sharing the `/var/run/docker.sock` Unix socket with the container:

[code]

I'll modify the server documentation to reflect this.

[2017-08-09 08:13] #74 closed

[2017-08-09 08:13] vmarkovtsev commented on #28
Any updates?

[2017-08-09 08:15] juanjux commented on #74
https://github.com/bblfsh/documentation/issues/76

[2017-08-09 08:28] abeaumont commented on #74
@juanjux What you propose is what @mcarmonaa already proposed earlier, but according to him, it didn't work. Did you manage to get it working?

[2017-08-09 08:34] juanjux commented on #74
Yes, this works for me, both with the environment variable and with the `--transport=docker-daemon` option, but if you use the `transport` option without specifying an image with the env variable it will search for `bblfsh/XXX-driver:latest` so if you don't have an image tagged as latest (with it's not automatic) it won't find any image; I guess that's what happened to @mcarmonaa (@mcarmonaa can y

[2017-08-09 08:35] abeaumont commented on #28
No updates, it's something we want to do at some point, but are focused on other tasks at the moment.

[2017-08-10 13:30] #83 closed

[2017-08-17 08:57] vmarkovtsev opened #86 "Add the ability to query for the server's version"
ML team needs to have an API to ask the running server for its version.

Discussions:
https://src-d.slack.com/archives/C4NNGEVGW/p1497445078106377
https://src-d.slack.com/archives/C4NNGEVGW/p1502888509000205

Related to #28

[2017-08-17 09:12] zurk commented on #86
Also, want to clarify that it is not only on the server but language drivers. It always confusing when you rerun your code after the update.
Another use case when you try to understand is my dataset outdated and some important updates were introduced or it is not so critical for that moment.

[2017-08-17 09:13] abeaumont commented on #86
so this is a duplicate of #28?

[2017-08-17 09:15] zurk commented on #86
Oh, no. :)
this is for the server,
#28 about drivers.

I missed it.

[2017-08-17 09:18] abeaumont commented on #86
Why do you need the server version to be published through an API?

[2017-08-17 09:42] zurk commented on #86
For me is the same reason. I can understand that my dataset is outdated. Some repositories or files processing may fail because of bblfsh server for example.

I think @vmarkovtsev also want to have something like reproducibility of experiments and datasets of course.

[2017-08-17 09:51] abeaumont commented on #86
Thanks @zurk! I understand why knowing the server version is important, I'm asking why you need it specifically exported in the API instead or just having, say, `bblfsh server --version` or any other way.

[2017-08-17 09:55] zurk commented on #86
Oh, I think just to have the straightforward way to specify it in our datasets.
But it is my guess, I leave it for @vmarkovtsev. :)

[2017-08-17 12:35] marnovo commented on #86
Nice to see the discussion flowing, this is important. Thanks guys! 👍

[2017-08-17 12:37] vmarkovtsev commented on #86
@abeaumont Because we have an abstraction and we do not control the actual docker thing.

[2017-08-17 12:38] vmarkovtsev commented on #86
Every API shall have versioning. For example, GitHub API.

[2017-08-17 12:58] abeaumont commented on #86
@vmarkovtsev We (bblfsh project) are not building a remote API, we're building a server, language drivers and various libraries and clients. Anyway, we may want to add such information for the server too, the same way as for drivers as in #28. I'll let @mcuadros decide how this is preferred.

[2017-08-17 13:06] vmarkovtsev commented on #86
ML team does consume an API. We do not want (and IMHO are not supposed to) mess up with any infrastructure, launching servers, updating the stuff, checking if Rafa did update the container yesterday, etc. Any ML experiment should be reproducible, and without using bblfsh versioning, we simply cannot achieve that.

If there is a Kubernetes API to ask for the bblfsh container version, we are fine th

[2017-08-17 13:08] vmarkovtsev commented on #86
I think now we understand what is the conceptual problem here and #28

[2017-08-21 09:20] rporres opened #87 "README build instructions don't work"
After correctly setting `GOPATH` I still had issues

[code]

This is how it worked for me (thx to @smola)

[code]

Tested in Ubuntu and Mac OS X

[2017-08-21 10:22] #87 closed

[2017-08-21 13:00] abeaumont commented on #80
@mcuadros could you share your idea for a better configuration?

[2017-08-21 13:01] rporres opened #89 "Cannot install via go get due to github.com/sirupsen/logrus namespace collision"
This is related to some internal renaming. See https://github.com/sirupsen/logrus/issues/570#issuecomment-313933276

[code]

Apparently logrus should be imported using `github.com/sirupsen/logrus`

[2017-08-21 13:12] abeaumont commented on #89
Thanks for reporting @rporres. Installation through `go get` is not supported, since the server handles the dependencies through `glide`.

[2017-08-21 13:12] #89 closed

[2017-08-21 15:55] abeaumont commented on #28
As discussed with @mcuadros, we will add support both for server version and _installed_ drivers, in the following way:

- The server will offer 3 new request types:
  - `version`. The response will provide server `version` information, which may include the commit hash and/or a tag.
  - `get_driver`. The request will include the language name. The response will provide the `manifest` of the drive

[2017-08-21 15:57] abeaumont commented on #86
https://github.com/bblfsh/server/issues/28#issuecomment-323783007 contains more information about how this will be done.

[2017-08-22 07:08] ShalokShalom opened #90 "Smacc"
You are maybe interested: https://github.com/ThierryGoubier/SmaCC/issues/25

[2017-08-22 08:50] abeaumont opened #91 "Remove the rest API"
It was added to support the [dashboard](https://github.com/bblfsh/dashboard), but they already have they're own server, so no need to support it anymore.

[2017-08-22 09:11] abeaumont commented on #90
@ShalokShalom nices project, it certainly seems it could at least be a candidate to generate ASTs for languages without a AST library. I'll look deeper at both its AST generation framework and its transformation tools which seem pretty interesting too.

Thanks for the pointer!

[2017-08-22 09:31] ShalokShalom commented on #90
Sure sure

[2017-08-22 09:31] #90 closed

[2017-08-23 10:43] #91 closed

[2017-08-30 14:13] abeaumont commented on #86
Solved by #93

[2017-08-30 14:13] #86 closed

[2017-09-07 10:19] abeaumont opened #96 "Client inside a container doesn't work as expected"
According to [documentation](https://doc.bblf.sh/user/getting-started.html#running-with-docker-recommended), this would be enough to make both server and client work with docker:

[code]

The second command generates an error instead:

[code]

Separating the linking and client execution parts seem to work though, so there may be same race condition there.

Reported by @dpordomingo

[2017-09-07 10:24] dpordomingo commented on #96
I don't know if this info will be useful... but it seems that the server container [already has an entrypoint](https://github.com/bblfsh/server/blob/master/Dockerfile#L5)... and when it happens, the run command can not be used that way (as @mcuadros just told me about a similar problem in the dashboard)

[2017-09-07 12:04] abeaumont commented on #96
Fixed by #84

[2017-09-07 12:04] #96 closed

[2017-09-07 13:42] dpordomingo commented on #96
Fixed by https://github.com/bblfsh/documentation/pull/84
(the #.84 link points to a different project)

[2017-09-07 13:50] abeaumont commented on #96
right, fixed link, thanks!

[2017-09-11 10:24] vmarkovtsev opened #98 "Logs: missing "container stopped" records"
This is an example of a bblfsh server's logs under high load:

[code]

I miss the message when containers stop/die. I assume they are written under DEBUG log level, but the level should be INFO since you report "started" messages under INFO. Thus currently it is not possible to estimate the average lifetime of a container.

### Besides

I see that containers are spawned like crazy. It's been 17 ho

[2017-09-12 12:06] abeaumont opened #99 "Remove usage of obsolete package "srcd.works/go-errors.v0""
CI has failed due to srcd.works not existing anymore: https://travis-ci.org/bblfsh/server/builds/273847022
It should be replaced by `gopkg.in/src-d/go-errors.v0`

[2017-09-13 12:45] #99 closed

[2017-09-13 17:33] zurk opened #101 "Server hangs after 10 minutes"
I have a strange problem and it is hard to give you a short example how to reproduce the bug.
I really like to have one, but I can not find it.

The problem is that bblfsh server hangs after several minutes of work on `science-3`. The easy way to reproduce it on `science-3` will be
[code]
It will convert repos using `ast2vec` (last develop version(https://github.com/src-d/ast2vec/commit/973707ea35

[2017-09-13 17:44] zurk commented on #101
To be sure run everything again.
You can find hang `bblfsh_test ` docker as is. And `bblfsh_hang_client ` docker with `WARNING:source_transformer:Failed to construct model for /storage/konstantin/data/repos/matplotlib/tinytai@caffe-segnet: itemsize cannot be zero in type`

May be it is helpful. No need to wait :)

[2017-09-14 09:36] juanjux commented on #101
Looks like a problem serializing complex numbers. This changed in python-driver 0.8.1.

[2017-09-14 09:56] zurk commented on #101
I think it can be not only one problem. I add logs from bblfsh to my previous message. Here is no error from the container. They are just started.

So, I will try to reproduce it after python-driver the fix.

[2017-09-14 10:00] juanjux commented on #101
If you see the last error in the server log and scroll to the right you can see:
[code]

[2017-09-14 10:04] juanjux commented on #101
(the server also probably should not hang on this or any other parsing errors, but let's fix this one first).

[2017-09-14 10:08] zurk commented on #101
Yes, @juanjux, I saw the error. But check the second try log output in this comment https://github.com/bblfsh/server/issues/101#issuecomment-329244043 there is no error

[2017-09-14 10:17] juanjux commented on #101
Could you try again with the server in verbose mode?

[code]

[2017-09-14 12:36] zurk commented on #101
Sure, after last logs with code.

[code]

And then hangs.

[2017-09-14 12:38] zurk commented on #101
Wow, no, It does not actually hang. It continues to produce
[code]

[2017-09-14 14:58] juanjux commented on #101
The error is probably unrelated, but I released v0.8.2 of the Python driver with the complex numbers serialization fix, could you try?

The empty code error is produced when the server receives and a request with an empty code content, trough it shouldn't loop if there aren't new requests.

[2017-09-14 15:45] zurk commented on #101
Thank you @juanjux!
As soon as `science-3` will be turned on.

It was not empty because something happened and then bblfsh gives only empty UAST.

And as I can see in the last logs
`time="2017-09-14T12:34:07Z" level=debug msg="driver exited without error"`
29 drivers exited simultaneously and no new driver container started. So It is something strange.

[2017-09-14 18:11] zurk commented on #101
Yes, I check it one time more.
I do not have a problem with serialization but still from some moment I have this messages:
`time="2017-09-14T17:51:35Z" level=debug msg="Empty code received, returning empty UAST"`

I attach tail of debug log just in case.
[logs.zip](https://github.com/bblfsh/server/files/1304014/logs.zip)
I think it can be somehow related to file content.

[2017-09-15 13:07] zurk commented on #101
Good news! I find a good reproducible example for you.
Bug related to code in files I am trying to parse.
here is the code to reproduce:
https://gist.github.com/zurk/07ca43333c02ea15cee53a361f0c6394

and `python_files.txt` file:
[python_files.txt.zip](https://github.com/bblfsh/server/files/1306419/python_files.txt.zip)
It contents path to data on `science-3`. I can make a dump with this files for

[2017-09-15 14:35] zurk commented on #101
**Update:**
I found one file that can hang the server or driver, I am not sure.
Run:
[code]
No responce, exit by timeout and nothing in bblfsh logs.

[bad_file.py.zip](https://github.com/bblfsh/server/files/1306636/bad_file.py.zip)

P.S.: End of the file is strange but correct. Also, I think it is not only one example of "hanging" file in that collection. Does bblfsh server provide a timeout for d

[2017-09-20 09:01] zurk commented on #101
Just want to mention that problem still alive with server v1.0.0 and latest driver.

[2017-09-20 09:08] juanjux commented on #101
Yes, I could not work on this yesterday with all the pending releases, I'm working on it currently.

[2017-09-20 10:09] juanjux commented on #101
I just did a PR that fixes the problem with that `bad_file.py`, so the python driver doesn't crash anymore on it (or others with the same problem).

Next step for me is to do a micro test case with the same problem (just `print 123L`) and, with the unfixed version, check why the server would hang in that case.

[2017-09-21 15:21] juanjux commented on #101
Python driver 1.0.1 (already tagged as latest so it should be automatically downloaded by the server) have a fix and also links vs a version of the SDK with another fix. With these together I can't reproduce this anymore so I don't think we need to release a new version of the server linking against the new SDK version (but I'm not 100% sure because the fixed part is also used by the server).

@zu

[2017-09-22 09:07] zurk commented on #101
@juanjux , Great news!
I test it for my example with 6 000 files https://github.com/bblfsh/server/issues/101#issuecomment-329777700.
I run it several times, and everything is fine! Hope, that it is true for the rest dataset. In

However, I wonder about sever part, could something like that happen with some other "bad" drivers?

[2017-09-22 09:48] juanjux commented on #101
There were really several problems. #24 caused a crash in the Python driver when a numeric long literal like 0L was in the exported native AST dictionry. #92 was logging on the stderr of the Python driver when any crash happened (drivers should not write to stderr, only communicate with the messages, the sdk merges the drivers stderr and stdout into a single stream) and finally #175 would cause in

[2017-09-22 09:48] #101 closed

[2017-09-22 09:52] abeaumont commented on #101
@juanjux please fix the links to the issues in the previous message, they're linking to server issues but they are actually issues in other repos.

[2017-09-22 10:56] juanjux commented on #101
Fixed.

[2017-09-27 15:06] vmarkovtsev opened #103 ""proto: no encoder" log messages"
When I start bblfsh and parse a file, I get

[code]

I guess these "proto" messages signal about smth, though the files are successfully parsed.

[2017-10-02 11:30] mcuadros commented on #98
https://github.com/bblfsh/server/pull/106

[2017-10-02 11:30] #98 closed

[2017-10-02 11:36] vmarkovtsev commented on #98
Thank you!

[2017-10-04 09:53] mcuadros commented on #103
fixed at https://github.com/bblfsh/server/releases/tag/v1.1.1

[2017-10-04 09:53] #103 closed

[2017-10-09 13:26] #28 closed

[2017-10-09 13:26] #32 closed

[2017-10-09 13:26] #80 closed

[2017-11-16 11:23] bzz opened #130 "Growing number of driver processes"
While getting UASTs and filtering for identifiers for python files of a single project using Engine, after 30min I can see 350+ driver processes inside the bblfshd container

Logs in details

<details>

`ps`
[code]

Container log
[code]

apache spark thread dump
[code]
</details>
<br />

Steps to reproduce, using 30 concurrent clients:

[code]

and then run `:paste`, paste code below and hit `Ctrl

[2017-11-16 11:53] bzz commented on #130
Update: same happens with just 3 clients instead of 30, it only takes longer, ~30min to reproduce

[2017-11-16 12:27] bzz commented on #130
Noticed two new errors in logs, that are not posted above

[code]

[2017-11-16 12:56] bzz commented on #130
Here are debug logs [93-process-bblfshd.log](https://github.com/bblfsh/bblfshd/files/1478569/93-process-bblfshd.log)

[2017-11-17 21:46] dpordomingo opened #132 "When bblfshd binary runs inside a container, it crash"
When a `bblfshd` binary runs inside a container, it crash.

Is it an expected behavior?

How to reproduce:

I used the following `Dockerfile`, to define a container with a `bblfshd` binary inside
<details>

[code]
</details>
<br />
I built the container, and entered in it:

[code]

and from its inside I installed the drivers and tried to parse a python file:

[code]

You get:

[code]

[code]

[2017-11-18 19:52] mcuadros commented on #132
bblfshd requires root privileges

[2017-11-18 19:52] #132 closed

[2017-11-24 11:41] zurk opened #133 "[feature request] add filepath to debug logging"
I use bblfsh and often check what is doing on via
[code]

and it gives messages like:
[code]
If `status Error` I'd really like to know the file path, on which it fails.

Is it possible to add?
You can add it and permanent field or add just in case of error.

[2017-11-28 11:04] #133 closed

[2017-11-29 10:40] abeaumont opened #135 "Add a --recommended flag to bblfshctl to install only recommend drivers"

[2017-11-30 10:25] smacker opened #136 "Server hangs on MacOs if /var/lib/bblfshd is mounted"
Any ideas how to debug?

if I start bblfshd like this
[code]

and then call "parse" method - server never respond. No matter do I do call inside or outside container `docker exec -it bblfshd bblfshctl parse /opt/bblfsh/etc/examples/python.py` || using dashboard.

After that I'm unable to do anything with container `docker stop` & `docker kill` just hangs forever. Only restarting all docker helps.

[2017-11-30 10:42] juanjux commented on #136
Probably duplicated of bblfsh/python-driver/issues/128.

We've a Doc PR needing merge for using a docker volume instead of a mount point, please tell me if it works for you and I'll merge:

https://github.com/bblfsh/documentation/pull/121/files

[2017-11-30 10:52] #136 closed

[2017-11-30 12:59] juanjux commented on #130
Yep, I can reproduce it, thanks for the steps @bzz.

The processes are `runc` zombie processes that doesn't use resources, so this should not be a performance problem, but it's certainly not pretty. It's odd because libcontainer some time ago merged a PR that reaped the zombie processes and fixed a similar issue we had. I'll try to update the dependency to the latest version in bblfshd and if that

[2017-11-30 14:53] juanjux commented on #130
Looks like libcontainer from `~master` avoids this problem (I've let it running for 20 minutes and there isn't a single defunc process). I'll upload a exported docker image of this version of bblfshd for you to test and if you confirm that it works we can close this after the PR. More details on Slack.

[2017-12-01 08:44] juanjux commented on #130
After more tests, I still see some defunct driver processes after leaving this test running for a while, but there are like 3-5 after 40 minutes while previously there were hundreds, so while not totally fixed, it's an huge improvement.

Considering that the change was just updating the libcontainer dependency, the problem is surely there.

[2017-12-01 12:14] bzz commented on #130
@juanjux It will take few days for me to get back to this to reproduce it, so we can either re-open or keep it here for a while and see.

[2017-12-01 15:09] juanjux commented on #130
Ok, so if the maintainer @abeaumont agrees we can merge #138 and close this, feel free to reopen if you find the problem again.

[2017-12-01 16:00] #130 closed

[2017-12-01 16:00] abeaumont commented on #130
Done

[2017-12-07 09:46] #135 closed

[2018-01-14 10:28] roscopecoltran opened #142 "Package managers manifest parser / Question"
Hi,

Hope you are all well !

Goal: generate a source code summary by parsing source code and package manager manifests.

I was wondering if the project would be suitable to parse CMakeLists.txt or other dependencies manager (NPM, Maven,...) in order to get a more complete overview of any project. And how would be the best approach to do it.

Example of use case:
- Parse hunter packages (CMake bas

[2018-01-19 13:51] mcuadros commented on #142
The current scope of bblfsh, doesn't include any manifest analysis. Since the implementation is focused on do analyze on file basis,  doesn't fit very well with the concept.

In the other hand we are planing on create another project or bblfsh component with a higer level of abstration and maybe the manifest analysis could fit there.

For doing manifest anlysis you can take a look to: https://gith

[2018-01-19 13:51] #142 closed

[2018-01-24 21:27] smacker opened #143 "Question about performance"
Is there any plans to measure how fast bblfsh and drivers work and improve it?
I thought to use it in my project, but it works very slow.

Currently, the difference bblfsh vs native parser is huge.
Example of parsing `itsdangerous.py` 500 times:

native parser:
[code]

using bblfs:
[code]

Results:
[code]

9s vs 2m34s is kinda huge...

Will you be open to my help with profiling/optimization?

[2018-01-25 01:27] juanjux commented on #143
The native parse is implemented in pure C. The non native parse must do a second pass to add missing positions (the ones we can), comments, et cetera, so it's much slower. Then you need to add the protocol round trip, once for the client to the server and another one from the server to the driver... you get the picture. Still, at some point we should need to benchmark every part and find fixable b

[2018-01-25 03:07] smacker commented on #143
Thank you for replay. I perfectly understand why it’s slower.
My question is: do you have performance improvements in roadmap? If not, will you be open to pull requests with profiling/benchmarks/optimizations?

I’m sorry if it wasn’t clear from my first message.

[2018-01-25 06:26] mcuadros commented on #143
We never get focused on performance, the last improvements we did were focused on resilience.

Said this, as @juanjux explained, what you are obtaining from the python AST is not the same information you get from the bblfshd server.  Also, you executed this on linux or macOS?

Also, this metrics are for Python, so maybe is the driver, maybe is the server, etc. Definitely, we should get some profil

[2018-01-25 09:18] smacker commented on #143
Okay. Not in roadmap. Thanks!

Let me give more context. I'm working on `hercules-web` during OSDs. I want to calculate function hotness. But it's way too slow for web service even for small repos.
I wanted to spend my next OSDs writing some benchmarks and try to optimize it.

But very often performance optimizations add complexity to code. Can I expect such PRs to be merged or if it's totally not

[2018-01-25 09:31] juanjux commented on #143
Some ideas for that OSD:

- Benchmark also against connecting directly to the driver via gRPC (just run the driver image and connect to it, it speaks the same protocol as the server). This will give the load bblfshd adds.

- Benchmark the Python, Java and Scala drivers with files of more or less the same complexity.

- Hack the native drivers a little for them do to their parse in a loop without a

[2018-01-25 09:33] juanjux commented on #143
Out of focus PRs won't be rejected, the focus is for the language-analysis team planned tasks/epics and doesn't apply to contributions from other teams or OSDs.

[2018-01-25 09:41] smacker commented on #143
Thanks a lot! My own thoughts how to do it are very similar :)
I just don't think I need to `hack the native drivers`. Every driver has cli tool which reads from stdin. I can use it!

[2018-01-26 15:45] bzz opened #144 "`bblfshctl driver install` reports errors"
On a fresh macOS 10.12
[code]

[code]

[code]

May be I'm doing something wrong?

[2018-01-26 17:38] juanjux commented on #144
Remember that you must create a named docker volume for bblfshd on macOS because of the case insensitiveness of the native FS.

https://doc.bblf.sh/user/getting-started.html#running-with-docker-recommended

[2018-01-26 17:38] #144 closed

[2018-01-26 21:02] #143 closed

[2018-01-27 20:37] smacker commented on #143
got some results: https://github.com/smacker/bblfsh-benchmark

[2018-01-29 09:18] juanjux commented on #144
@bzz hah, nice to see that I'm not the only one with RAM problems, you actually helped fix this one ;)

[2018-02-06 12:31] vasulakkaraju opened #146 "Not Able to execute the the test command as per the getting started guide"
Testing Babelfish drivers as per the getting started guide.But getting below error while testing:

command:

sudo docker exec -it bblfshd bblfshctl parse /opt/bblfsh/etc/examples/python.py

Status: Fatal
Elapsed: 5.000365287s
Errors:
	- timeout, all drivers are busy
pls help me if its an issue.

Thanks.

[2018-02-06 13:33] juanjux commented on #146
I can't reproduce this.

Did you followed these steps?

1. Install and run the server with:

```docker run -d --name bblfshd --privileged -p 9432:9432 bblfsh/bblfshd```

2. Install the recommended drivers with:

``` docker exec -it bblfshd bblfshctl driver install --recommended```

3. Run the example:

``` docker exec -it bblfshd bblfshctl parse /opt/bblfsh/etc/examples/python.py```

If this still

[2018-02-07 11:20] juanjux commented on #146
I'll see if I can reproduce it with a Fedora 27 LXC image.

[2018-02-07 13:09] vasulakkaraju commented on #146
Sure!

[2018-02-09 10:22] juanjux commented on #146
Hi @vasulakkaraju, sorry for not replying before, I've been busy with the bash driver, I'll try to reproduce your problem in the Fedora 27 image right now.

About your question, there are clients for [Python](https://github.com/bblfsh/client-python), [Scala](https://github.com/bblfsh/client-scala) and [Go](https://github.com/bblfsh/client-go) that you can use to do requests to the server or driver

[2018-02-09 13:13] juanjux commented on #146
@vasulakkaraju could you run `docker logs bblfshd` after you get the error and paste the output here?

[2018-02-21 17:44] dennwc opened #149 "Migrate from Glide to Dep"
Glide is no longer in active development and README suggests users to switch to dep as well:

https://github.com/Masterminds/glide

[2018-02-26 10:31] Morikko commented on #146
Got the same problem (Fedora 27):

### First try
[code]
### Further tries
[code]

### Your request
[code]

[2018-02-27 09:13] juanjux commented on #146
Thanks for the log @Morikko; so it definitely looks like it's a problem that triggers with Fedora 27. I'll revisit this today (tried with an LXD image but had some problems running Docker inside it, I'll try again today with Vagrant).

[2018-02-27 15:06] juanjux commented on #146
Semi-good news, I can reproduce it (with the same log) in a Fedora 27 image. I'll continue looking into it.

[2018-02-27 15:59] Morikko commented on #146
I thought also to this. However, I got the same result by setting `setenforce 0` (normally set SELinux in permissive mode)

I didn't investigate further...

[2018-02-28 08:11] juanjux commented on #146
Yes, I disabled SELinux and the problem persists here too. Another odd problem: if I do a `docker restart bblfsdh` it says:

[code]

But the socket file doesn't exist...

[2018-02-28 08:49] juanjux commented on #146
I wasn't disabling SELinux correctly, and actually setting permissive mode fixed the problem, but only after deleting and reinstalling `bblfshd`, the steps I followed to make it work:

[code]

[2018-02-28 10:44] juanjux commented on #146
@Morikko @vasulakkaraju check the PR above, it adds a SELinux policy file and instructions about how to use it.

[2018-02-28 12:47] #146 closed

[2018-03-05 10:34] #149 closed

[2018-03-07 16:55] EgorBu opened #156 "Installation of ruby driver fails"
Hi,
I noticed that installation of ruby driver failed.
How to reproduce:
[code]
and
[code]
It gives:
[code]

[2018-03-07 16:58] juanjux commented on #156
Note for further debugging and helping users with the problem workaround it: it only happens when docker-running bblfshd without the `-v /var/lib/bblfshd:/var/lib/bblfshd` option.

[2018-03-13 14:38] dennwc opened #157 "Infer the language name from the driver image"
Currently, it's required to specify both language name and image in the install command. It would be nice to infer the language name from image's manifest file.

[2018-03-26 13:43] EgorBu opened #159 "A lot of <defunct>"
Hi,
I found that `bblfsh` created a lot of `<defunct>` processes.
Ex:
[code]
Right now I have ~719 of processes like this

<details><summary>be careful - a lot of lines</summary>

[code]
</details>

do you know what can be the reason?

[2018-03-27 06:53] juanjux commented on #159
This has happened in the past... it was fixed updating the opencontainers/runc dependency (there were issues and PRs about it in that project), but it look like it's back with a vengeance...

[2018-04-11 12:54] dpordomingo commented on #156
It happened to me with Python driver too
[code]

[2018-04-11 13:08] dpordomingo commented on #156
It was fixed when I ran the `bblfsh` container with `-v /var/lib/bblfshd:/var/lib/bblfshd`

To reproduce the problem **again** I deleted the whole content of `/var/lib/bblfshd`, and the `bblfsh` container, and ran it again without mounting the volume. If I do so, python and ruby drivers installation fails.

[2018-04-24 16:13] dpordomingo opened #162 "Some lang names guessed by bblfsh has a different driver name"
When sending to bblfsh a code with a filename `whatever.sh`, it is tried to be parsed with `shell` driver, but this driver should be identified as `bash`; when it happens, the request fails because bblfsh is not able to route `shell` requests to `bash` driver.

As suggested by @juanjux (via Slack), it could be interesting to have language aliases defined in the driver's manifest and then bblfshd c

[2018-05-12 06:44] vmarkovtsev opened #164 "Cannot run on Windows"
\<this is emulating a real report\>

I run

[code]

and see

[code]

[2018-05-12 06:45] vmarkovtsev commented on #164
\<emulation ends here\>
Windows version: Server 2016
Docker version: https://www.appveyor.com/docs/build-environment/#docker

[2018-05-12 13:42] juanjux commented on #164
Does it work without the parameter? (if so I'll update the docs).

[2018-05-12 14:04] vmarkovtsev commented on #164
Alas!
[code]

[2018-05-14 19:12] vmarkovtsev opened #165 "Flacky behavior in CI"
This is what I occasionally get in Travis:

[code]

This prevents my tests from running :(

[2018-05-14 19:20] dennwc commented on #165
@vmarkovtsev Do you really need all languages for the test? Maybe you can narrow it down to few specific languages?

[2018-05-16 08:12] juanjux commented on #164
WTF. So Windows can't use docker images with a Linux inside? (sorry, I'm at a loss here since I only use Windows for gaming).

[2018-05-21 15:33] EgorBu opened #166 "`Error` -> `Warning` when driver is already installed"
Hi,
I think it's better to change `error` to `warning` when driver is already installed,  `error` message is very confusing in this case because nothing is broken.
[code]

[2018-05-21 15:38] EgorBu commented on #156
I have this problem again - but today not only [`ruby`](https://github.com/bblfsh/ruby-driver/issues/22) but [`python`](https://github.com/bblfsh/python-driver/issues/156) too

[2018-05-24 14:46] dpordomingo commented on #156
@EgorBu did you tried running docker with `-v /var/lib/bblfshd:/var/lib/bblfshd` ?
If running it from Mac, it is needed to follow other instruction (described in [doc.bblf.sh/getting-started](https://doc.bblf.sh/user/getting-started.html)

[2018-05-24 14:52] EgorBu commented on #156
@dpordomingo, yes, with attached volume it works but it should be possible to install everything without attached volume. I'm using Ubuntu.

[2018-05-24 15:02] dpordomingo commented on #156
maybe @juanjux could clarify if the mounting procedure is the recommended way to run bblfsh

[2018-05-24 15:25] dennwc commented on #156
It's the required way right now, but it shouldn't be a requirement. We need to examine what permission bits are set by drivers to their dependencies. to fix this.

[2018-06-06 15:35] EgorBu commented on #159
Still a lot of `defunct`. Do you have any news, @juanjux ?

<details>

[code]

</details>

[2018-06-06 15:38] EgorBu opened #168 "A lot of files in `/var/lib/bblfshd/tmp/`"
Hi,

I noticed that the directory `/var/lib/bblfshd/tmp/` has too many files:

[code]

Do you know how it is caused? Should it be removed automatically?

[2018-06-06 15:49] juanjux commented on #168
As @dennwc said in Slack, these files (grpc sockets) should probably be created on /tmp since there is no need to persist them.

[2018-06-11 12:57] EgorBu commented on #159
BTW, I checked the parent process of `defunct` and there are two types of them - `bblfshd` and `java driver` (probably because I work with java):
[code]

[2018-06-18 14:25] smola commented on #168
On the other hand, why would we have 57976 grpc sockets without cleanup? Aren't these removed when they are closed?

[2018-06-18 14:28] smola commented on #165
There is a good case for us to generate a static manifest that can be consumed by bblfshd without using GitHub API.

[2018-06-18 14:33] juanjux commented on #168
I think last time I checked they should, but I'm not 100% sure, also I don't know if when bblfshd/libcontainer restarts or kill a container it has any chance to clean up stuff.

[2018-06-18 16:03] dennwc commented on #165
@smola Sure, but we don't want to maintain it manually. We will need a webhook for this.

[2018-06-19 10:30] smola commented on #165
@dennwc We can probably setup a Travis CI job that generates and updates the manifest. Then we could add a post-deploy Travis hook for drivers that trigger the manigest job through Travis API.

[2018-06-21 13:46] bzz commented on #165
Just FYI - that has been discussed on a recent [TL meeting](https://github.com/src-d/minutes/pull/263/files#diff-c9b1efc76d1d61c3077a03a37d67be6eR78) and the decision was to pin only a specific drivers + mount them and cache those on TravisCI.

That’s what being used so far i.e in [gitbase playground](https://github.com/src-d/minutes/pull/263/files#diff-c9b1efc76d1d61c3077a03a37d67be6eR78).

[2018-07-12 09:41] dennwc commented on #166
This error is returned across an RPC boundary, so we need to return a different gRPC status code, and convert it on the client side.

Converting to a warning makes sense only when the hash of the local image matches the hash of the remote image. In other cases we are not sure what user expects us to do. An image might be a dev image built locally, and we don't know if we should reinstall it from r

[2018-07-12 10:14] dennwc opened #172 "Images or drivers are not removed correctly"
This happens pretty regularly when developing a driver. If you install the driver, use it, then remove and reinstall, it will still use an old image. Because of this, I usually wipe bblfshd completely before reinstalling the driver.

It might be a problem of images being reused too aggressively, or maybe the running container is not shutting down when the driver is removed.

Need to investigate it

[2018-07-12 10:47] #172 closed

[2018-07-12 12:17] juanjux commented on #166
I think it's an Error... the user asked to install an image, and it could not be installed. A warning would be, IMO, to overwrite an existing image.

[2018-07-12 13:31] dennwc commented on #166
Maybe we should convert it to Warning only for the batch commands like `--recommended`?

[2018-07-12 13:37] juanjux commented on #166
That would make sense, yes.

[2018-07-20 18:50] dennwc commented on #156
Please try to reproduce it with `v2.1.1` drivers.

[2018-08-01 14:00] dennwc commented on #156
Ping @EgorBu

[2018-08-02 09:45] #157 closed

[2018-08-02 14:47] dennwc commented on #165
It seems like the issue is solved.

If changes to discover discovery are still necessary - please open a separate issue in the SDK.

[2018-08-02 14:47] #165 closed

[2018-08-02 15:36] dennwc opened #178 "Support installing drivers automatically"
It was a bit of a surprise for me since I was not aware that we have problems with the drivers installed. Discussion in https://github.com/src-d/feature-idea/issues/57 was cut short with no further feedback.

The proposal is to add a `--auto` flag that is the pattern for installing drivers on-demand. The first request for a specific language will generate an install command using this pattern.

Fo

[2018-08-02 19:32] dennwc commented on #162
@juanjux Maybe we should rename the driver to `shell`?

[2018-08-03 07:41] smola commented on #162
The Bash driver should work with any valid Bash subset, it would even support most code for Zsh, which is not a subset but it's pretty similar. That covers most shells and most shell code. However, I think it will never support csh/tcsh syntax.

Whatever solution you pick, I think it's safe to assume that the Bash driver is everything we'll need for shell language in the foreseeable future.

[2018-08-03 07:53] juanjux commented on #162
We spoke some time ago about supporting more language aliases in the manifest to cover drivers supporting more languages (like Python2/3, TypeScript/Javascript, etc). But while we do that I'm ok with renaming to Shell if we agree.

[2018-08-03 22:02] dennwc commented on #162
I think renaming to `shell` is the best option for now. And it seems like we all agree on this.

@juanjux Can you please rename the driver and change the GitHub project tags to `shell`?

[2018-08-04 18:41] juanjux commented on #162
Will do.

[2018-08-07 12:08] smola commented on #162
@juanjux @dennwc I was discussing with Máximo, I'm cc'ing him (@mcuadros) to comment on the alternative of keeping the driver as `bash-driver` and defining an alias for the Shell language.

[2018-08-07 12:11] mcuadros commented on #162
The name of the drivers are the name of a language, `shell` is not a language name, so we should keep the name of 'bash', what we can do... if worth it, is identify bash in Enry, but this is not a bblfsh issue

[2018-08-07 12:11] #162 closed

[2018-08-09 10:20] tsolakoua opened #180 "Driver Management - Documentation"
The commands as are written in the [documentation](https://doc.bblf.sh/using-babelfish/getting-started.html) at the ```Driver Management``` section seem not to run. I had to look on the previous commands in the documentation in order to make them run. For example:

[code]

Writing the command with the way below, seems to be working:

[code]

Maybe it should be explained with more details in the do

[2018-08-09 14:54] juanjux commented on #180
The reason for the commands to not work is that the `bblfshctl` command can also be run on a standalone installation, but most users won't do it so that can be improved. I'll open a PR soon and CC you.

Thank you for the feedback!

[2018-08-09 15:01] juanjux commented on #180
PR added, @tsolakoua PTAL review when you can.

[2018-08-09 15:21] juanjux commented on #180
The previous section explains to use `docker exec` when running bblfshd from the docker image so I just added a reminder to prefix it in the docs.

[2018-08-09 16:27] #180 closed

[2018-08-13 09:58] kafkasl opened #181 "Support installing drivers from file"
Support installing drivers from a file. Useful for systems (like many supercomputers) without direct access to internet. Could be something like:

`bblfshctl driver install Python python-driver/ --ctl-address ~/bblfsh/bblfshctl.sock`

[2018-08-13 10:37] juanjux commented on #181
I agree this would be a really helpful adition to bblfshd, will try to priorize it since the "copy directory" kludge doesn't always seem to work.

Ideally, this would install from an exported docker filesystem image since the source code driver directory would need a build and other operations that could be problematic in restricted computers.

[2018-08-16 10:32] smola opened #182 "bblfshd fails to run drivers on IBM Parallel FIle System"
As reported on Slack:

[code]

Envirionment:
- Architecture: Power9
- Filesystem: GPFS

We might be able to get a VM with this filesystem here: https://www.ibm.com/account/reg/us-en/signup?formid=urx-21182

[2018-08-16 10:33] #182 closed

[2018-08-16 10:33] smola commented on #182
Actually, the problem should be that this is running on Power9 with drivers built for x86_64.

[2018-08-31 09:00] jaipradeesh opened #183 "Build failure"
[code]

[2018-08-31 16:07] dennwc commented on #183
What is the host OS you are building it on? Looks like the `date` command is missing some options that we use.

[2018-09-01 06:31] jaipradeesh commented on #183
OSX latest

[2018-09-07 12:42] m09 opened #184 "Downgrading drivers doesn't yield functional drivers."
Installing a driver from latest (defaulting to v2) and then downgrading this driver doesn't yield a functioning driver of the downgraded version.

I'll try and provide a simple test case in the following week (or after the retreat) if needed.

[2018-09-21 00:38] campoy opened #186 "Installing already installed driver returns wrong error"
This was broken by https://github.com/bblfsh/bblfshd/pull/185, which made installing a driver twice return an empty error `runtime failure: %s`.

[code]

[2018-09-21 08:08] #186 closed

[2018-09-26 14:24] carlosms opened #189 "Wrong error formatting for existing drivers"
bblfshd docker image v2.7.2. When I run `bblfshctl driver install --recommended` I get these badly formatted errors with `%!s(MISSING)`:
[code]

[2018-09-26 16:38] #189 closed

[2018-09-27 17:02] dennwc commented on #156
I assume this was fixed

[2018-09-27 17:02] #156 closed

[2018-09-28 07:47] smola commented on #183
I think this will not be the only problem in macOS. Mounting GOPATH into the containers breaks this too, since macOS and Linux binaries will be mixed there.

[2018-09-28 09:55] carlosms opened #191 "New -drivers docker image does not boot."
Trying out the new `-drivers` docker image I get the following error message. It was confirmed by @juanjux.

[code]

[2018-09-28 13:34] ajnavarro opened #192 "Latest release doesn't have correct binaries"
Check https://github.com/bblfsh/bblfshd/releases/tag/v2.8.0

[2018-09-28 14:45] dennwc commented on #192
It also failed to produce an image with embedded drivers.

[2018-10-01 09:01] smola opened #194 "Drivers are downscaled too fast"
I'm using a bblfshd with Go drivers, under quite intensive load. Driver instances quickly scale up to the maximum (8) and then downscale to the minimum (2). This happens every couple of seconds. It seems that the default scaling policy is too aggressive for downscaling.

Changing to something like `MovingAverage(20, MinMax(1, DefaultMaxInstancesPerDriver, AIMD(1, 0.8)))` could help (moving average

[2018-10-01 10:27] carlosms opened #195 "bblfshctl driver install fails for installed drivers"
With v2.8.0, a `driver install` for an already installed driver exits with 1, which is a breaking change that breaks CI for gitbase-web.
The output also seems to be off (contains `%s`, and prints the usage help):

[code]

[2018-10-01 16:00] dennwc commented on #195
First of all, please don't use `latest` - it's expected to break in one way or another. Pin a specific stable version.

Second, why you need to install the driver twice in CI? Just wondering.

Also, this problem was already reported in #166 and contains a [description](https://github.com/bblfsh/bblfshd/issues/166#issuecomment-404454226) why we can't make it a warning in all cases. The change in v2

[2018-10-01 16:00] #195 closed

[2018-10-01 16:01] dennwc commented on #166
It will now happen with `driver install` for a single driver as well, see #195. This error was not propagated correctly.

[2018-10-03 08:35] smola commented on #194
Note that this looks like the reason why failed cleanups generate such large amount of stale files, see https://github.com/bblfsh/bblfshd/issues/168

[2018-10-03 14:34] carlosms commented on #195
Isn't `latest` the _latest stable_ version?

We've encountered this error here (and in other projects with similar travis config):
https://github.com/src-d/lookout/blob/master/.travis.yml#L37

We just had the install in place so it would either do the install for an empty travis cache, or silently fail if the driver was installed. I guess we will just add something like `|| true` to the driver ins

[2018-10-03 22:33] #166 closed

[2018-10-03 22:33] #191 closed

[2018-10-03 23:59] dennwc commented on #192
Still unresolved

[2018-10-05 07:56] bzz opened #196 "Repetitive CLI output on installing drivers"
When using a `bblfsh/bblfshd:latest` image `f9f2bbbbce20`, bblfshd v2.9.0 on installing recommended drivers produces what seems to be very repetitive output.

Not sure if that is expected, but may possible happen due to printing on a new line, instead of printing to the same one.

[code]

[2018-10-05 08:02] bzz commented on #159
Is it still a lot of `defunct`, @EgorBu ?

[2018-10-08 14:36] zurk opened #197 "Add a way to reinstall the driver with one command"
To reinstall python driver I need to remove it first and install the new one after. Good to have something like `reinstall` or `install -f` subcommand for it.

[2018-10-09 11:31] juanjux commented on #197
Actually, a `-f` switch was recently added by @dennwc for the `install` command but I'm not sure if it will reinstall the driver or just ignore the error, @dennwc can you clarify?

[2018-10-09 11:37] dennwc commented on #197
No, it will just skip "already installed" errors. I propose to add an `-u` (`--update`) flag instead. Or `-r` (`--replace`).

[2018-10-10 09:40] zurk commented on #197
yes, `--update` is totally fine :)

[2018-10-15 08:36] bzz commented on #192
@ajnavarro was published https://github.com/bblfsh/bblfshd/releases/tag/v2.9.1 with the binaries

[2018-10-16 08:01] ajnavarro commented on #192
@bzz Windows and darwin binaries are still bad.

[2018-10-17 01:47] sazad44 opened #201 "bblfshd/README.md: Typo in README.md"
Under Development sub-header, there is an "its" which should be "is".

[2018-10-17 13:20] BFergerson opened #203 "Confused how to run standalone"
I've been able to run bblfshd under Docker without any hiccups. Worked perfectly and was incredibly easy. The documentation further mentions that bblfshd can be run as standalone if on Linux (https://doc.bblf.sh/using-babelfish/getting-started.html#running-standalone). It doesn't explain how to set up the standalone installation but simply mentions that the files are on the release page. What's in

[2018-10-17 13:37] dennwc commented on #203
In general, you should be able to just run `./bblfshd` and it will work. You might want to specify a different location to store driver images, see `bblfshd -h` for details. But it should be able to pull all driver images and run them as usual without any additional options.

But yes, we need to update docs to provide more details (+SELinux).

[2018-10-17 13:45] BFergerson commented on #203
Thanks for the quick response. I thought that was how it should be run but wasn't able to work that out. Here's what I get:
[code]

[2018-10-17 13:58] dennwc commented on #203
Ah, it makes sense. The build we provide requires `ostree` library. Try running `apt-get install libostree` or `apt-get install libostree-1-1`.

It is mentioned in the README in the dependencies section, but it should definitely be mentioned in the standalone quickstart as well.

[2018-10-17 13:59] juanjux commented on #203
SELinux is [documented in the README](https://github.com/bblfsh/bblfshd#selinux) and linked in the docs, AFAIK it doesn't change with bblfshd running in a container or no.

[2018-10-17 14:02] dennwc commented on #203
Sure, but it makes sense to mention it again in the standalone docs since users won't deal with SELinux in case of a Docker image, but they will in case of standalone.

[2018-10-17 14:07] juanjux commented on #203
The SELinux module is also needed (in Fedora at least, we've suffered it before) for the Docker images to work (I'm no expert in SELinux but I guess it doesn't a allow a container to do something not allowed outside it).

[2018-10-17 14:07] BFergerson commented on #203
@dennwc, worked like a charm. Thank you for the quick turn around.

@juanjux, I was following the documentation here: https://doc.bblf.sh/using-babelfish/getting-started.html

I was able to do the Docker installation and moved directly to the standalone installation. On that page there is no mention of `ostree`. I think it would definitely help simply this already beautifuly simple solution.

[2018-10-17 14:12] juanjux commented on #203
@BFergerson thanks, I'll add a note about checking the dependencies before on that page.

[2018-10-17 14:17] juanjux commented on #203
@BFergerson PTAL at the PR linked above.

[2018-10-17 14:36] #203 closed

[2018-10-24 09:44] #201 closed

[2018-10-24 16:47] bzz commented on #192
Oh, wow, 🤦‍♂️

It would be nice to migrate bblfsd [Makefile](https://github.com/bblfsh/bblfshd/blob/master/Makefile) to src-d/ci v1.

@dennwc if you want, I can take a look into this.

[2018-10-24 16:59] dennwc commented on #192
@bzz Thanks, I will appreciate it :)

[2018-10-26 11:53] bzz commented on #192
@dennwc fix is in #204 / #205 - as soon as it's reviewed&merged I would be happy to cut a new release in order to verify it.

[2018-10-26 15:41] #192 closed

[2018-10-30 10:44] EgorBu opened #206 "Can't install driver"
Hello,
Our Travis couldn't install javascript driver and failed with error log ([travis log](https://travis-ci.org/src-d/style-analyzer/jobs/448251617)):
[code]
do you have an idea how to fix it?

[2018-10-30 10:46] juanjux commented on #206
` pinging docker registry returned: error pinging repository, response code 503`

Looks like some connectivity problem. I just tried and worked, could you retry?

[2018-10-30 11:28] #206 closed

[2018-11-05 10:07] smola opened #207 "Trying to install a non-existent driver gives authorization error"
From https://github.com/src-d/engine/issues/104 (thanks @BFergerson):

[code]

[2018-11-05 13:00] dennwc commented on #207
This error comes from the Dockerhub. We can detect it and rewrite an error message, but if you try to download a private Docker image without proper credentials, an error will be "cannot find the driver" which is also misleading. But I guess this is not a common use case right now, so overriding an error makes sense.

[2018-11-05 13:15] smola commented on #207
@dennwc We can also make it explicit in the error, something like `The driver does not exist or it is private`
or maybe `The driver does not exist` if it is `bblfsh` organization and `The driver does not exist or it is private` otherwise.

[2018-11-08 13:41] erizocosmico opened #209 "Context deadline exceeded using Go driver on bblfshd"
We're using bblfshd extensively to process files on gitbase, which is a multi-threaded process. After a while processing, bblfshd becomes unresponsive and starts returning "Context deadline exceeded errors" after that and it does not recover from there. Sometimes, it even makes docker itself hang.

[code]

Using a single core does not fully mitigate the problems but it does recover after a few err

[2018-11-15 09:33] creachadair commented on #159
I haven't attempted a repro, but I think what is likely happening here is that stopping a DriverInstance doesn't wait for the containerized child process on at least one path, leaving zombies in the proc table. The `runtime.Container.Stop` method signals the process, but doesn't reap it.

[2018-11-19 12:09] bzz commented on #209
Did not get to reproduce this yet, but it would be interesting to see the output of the  `bblfshctl status` and `bblfshctl instances` under such conditions.

[2018-11-19 18:04] creachadair opened #211 "Ensure exported names in Go packages are properly documented"
There are a number of packages missing conventional documentation comments (cf. https://github.com/golang/go/wiki/CodeReviewComments#doc-comments). Given that we advertise these libraries as part of an SDK, we should make an effort to back-fill the ones that are missing.

This helps not only us (speaking as the new person trying to learn his way around), but also our users, who should be able to u

[2018-11-20 11:07] bzz opened #212 "Automation of performance measurements"
This is an umbrella issue for initial round of work on automating performance analysis/regression for bblfshd.

Motivation:
 - https://github.com/bblfsh/java-driver/issues/96
 - https://github.com/src-d/empathy-sessions/issues/15 (one before last)

TODOs:
 - [ ] small dataset of some LoC for each `recommended` driver (1 same program from RosetaCode?)
 - [ ] UAST parsing test suite (to run across g

[2018-11-20 12:16] bzz commented on #211
👍 and we could also enable `go lint` with [this check](https://github.com/golang/lint/blob/master/lint.go#L476) on CI, to avoid further API doc gaps.

[2018-11-20 16:12] creachadair commented on #211
The `golint` checks are mostly good, but there are enough false positives that I'd be reluctant to block changes for all of them. That said, I agree it'd be nice to have some pre-submit linting suggestions.

[2018-11-20 17:42] bzz commented on #207
Fixed in #213

[2018-11-20 17:50] bzz commented on #196
latest master (after v2.9.2) the output still looks like this on several OSes

[2018-11-20 19:15] bzz opened #214 "bblfshctl: panic on empty args driver remove"
Empty arguments for `bblfshctl driver remove` causes process to panic.

[code]

Expected result: usage printed.

[2018-11-21 13:34] #196 closed

[2018-11-21 13:45] dennwc commented on #211
We may disable most `golint` checks and leave only ones related to documentation, for example.

[2018-11-23 06:02] bzz opened #218 "Proposal: streaming API for big UASTs"
Right now, after #216 both bbfshd and driver gRCP servers have a hard-coded limit of 100MiB for the UAST.

This works, but is not a generic solution - UAST size is O(1) of the file size but the constant can be big.

A generic solution proposed though [initial discussion](https://github.com/bblfsh/bblfshd/pull/216#discussion_r235798156) and enabled by v2 wire serialization format is: add a new API

[2018-11-23 09:05] EgorBu opened #219 "Memory is not released, number of instances in `bblfshctl driver list` mismatch with `htop`"
Hi,
I found that bblfshd shows in console one instance of a driver when there are many of them according to `htop` + memory is not released after experiment.
![mem2](https://user-images.githubusercontent.com/2606702/48935143-df4ce180-ef06-11e8-81d0-6a4c6cfb3439.png)
[code]

Driver information
[code]
Bblfshd information
[code]
[code]

[2018-11-23 09:30] tsolakoua commented on #212
I would like to focus on the ```small dataset of some LoC for each recommended driver``` for this Monday's OSD. I will create a separate issue on that and can be assigned to me.

[2018-11-23 09:51] tsolakoua opened #220 "Dataset for automation of performance measurements"
Will collect some LoC from RosetaCode
Related to https://github.com/bblfsh/bblfshd/issues/212

[2018-11-23 10:24] deepakorantak opened #221 "How to make sure Standalone installation of bblfshd daemon runs in background"
I have  successfully installed (from standalone binaries on github )  and the executables are in/usr/local/bin so that I can execute it from anywhere.

root@ip-172-31-34-50:/usr/local/bin# ls -a bbl
bblfshctl  bblfshd

### When I execute any of the _bblfshctl_ commands  it throws following  error -

root@ip-172-31-34-50:/usr/local/bin# bblfshctl driver list
**failed to connect to /var/run/bblfshct

[2018-11-23 10:55] bzz commented on #219
bblfshd version is really old: 2.4.1 (released this on Feb 28) vs current [v2.9.2](https://github.com/bblfsh/bblfshd/releases/tag/v2.9.2)
javascritp-drivers seems also old: 1.2.0 vs current [v2.4.1](https://github.com/bblfsh/javascript-driver/releases/tag/v2.4.1)

🤔

[2018-11-23 11:14] bzz commented on #221
hey @deepakorantak -  to get bblfshd process running on *nix OS in terminal on [background](https://bash.cyberciti.biz/guide/Putting_jobs_in_background#Background_process) launch it with `bblfshd &`.

Hope this helps!

[2018-11-23 12:02] deepakorantak commented on #221
Thank you so much @bzz . It worked !!

[2018-11-23 12:02] #221 closed

[2018-11-23 12:12] #214 closed

[2018-11-23 13:41] vmarkovtsev opened #222 "Add Babelfishfile"
We hit this recurring problem from time to time: drivers update, some problems are fixed and thus some of our workarounds crash. There can be new bugs added as well - e.g. when a native parser is changed or the SDK is refactored. So we propose to add `Babelfishfile` which pins the driver versions similar to `package.json` or `requirements.txt`. We expect it to work like

[code]

or

[code]

The sy

[2018-11-25 12:04] vmarkovtsev opened #223 "bblfshctl does not return an error code if it fails to install a driver"
Docker Hub is [experiencing problems right now](https://github.com/docker/hub-feedback/issues/1693) and our Travis jobs started to fail.

For example: https://travis-ci.org/src-d/style-analyzer/jobs/459372829#L600

[code]

This command succeeds or fails depending on your luck.
Unfortuntely, `bblfctl` still returns a 0 status code and I have to work around it in order to use `travis_retry`.

[2018-11-26 16:59] creachadair commented on #218
As a side note, it's worse than O(1) in the file size—it's more like O(n log n) in the file size _n_, where the log base constant falls out of the grammar size (upper bounded by the branching factor, but probably not that bad on average). The bound isn't tight, since some files have flat parses, but it's definitely not in O(1).

[2018-11-27 09:29] #207 closed

[2018-11-27 16:22] bzz commented on #212
For context - UAST perf measurements on gitbase side https://github.com/src-d/gitbase/issues/606 hit #209.

Would be nice to try to generate at least similar load in our baseline and see how much it can be stretched from there.

[2018-12-03 10:04] kuba-- opened #226 "perf: bblfshd 2.9 non responsive after parsing 1000+ files"
Most often the gitbase is tested against following quries:
[code]

When **bblfsh** starts parsing lot of files (so far I can mainly stand for _go_) quickly becomes unresponsive. It works fine for small number of files ~ 10.
For higher traffic all go drivers were busy, so the next requests timeout (doesn't matter what was the file size):
[code]

At some point bblfshd threw an exception:
[code]
Duri

[2018-12-03 19:18] bzz commented on #226
Hey @kuba-- thank you for report - is there any chance you could also include output of next 2 commands in such situation:

[code]

That would help to understand the the high-level situation better.

[2018-12-03 19:59] dennwc commented on #212
The new SDK ([v2.12.0+](https://github.com/bblfsh/sdk/releases/tag/v2.12.0)) will generate a benchmark report (`bench.txt`) during `bblfsh-sdk test -b`.

I will now update all drivers that include benchmark fixtures (many thanks to @tsolakoua!).

It won't be enabled in CI for obvious reasons (shared instances), so we still need some infrastructure to run it.

[2018-12-03 22:15] kuba-- commented on #226
@bzz - I tried, but no success (totally unresponsive, so even simple ls took forever).
 I'll try again by first attaching to the container, and then run my test.

[2018-12-03 22:19] dennwc commented on #226
@kuba-- I would suggest to enable traces (https://github.com/src-d/gitbase/pull/642) and check what the trace of the last call looks like. This won't show the state of the driver pool but will give at least some information about the issue.

[2018-12-03 22:30] tsolakoua commented on #212
Next Monday is OSD and I could continue on that since I finished with the benchmark fixtures. However, I don't understand well the next steps so I might need some support to get started.

[2018-12-03 22:36] tsolakoua commented on #220
Fixtures (source code+tests) added to the recommended drivers. May I close this issue if I am not missing something?

[2018-12-03 22:50] dennwc commented on #220
We might also need at least one sample of an extremely large source file for each language.

This time it's not expected for those files to be the same across languages. We just need it to contain >1000 LOC, but with an actual code, not the large string constants or giant global dictionaries.

It's hard to find files with an equal complexity, so I think we can just grab any random source from well

[2018-12-03 22:54] tsolakoua commented on #220
ok, I will try to find some programs, and yes most probably they will have to be in different languages as at least in rosetta I couldn't find one very large program for all the drivers.

[2018-12-04 00:36] creachadair commented on #220
One potential source of large nontrivial files is the generated code from the protobuf compiler. They're not human-written, so some patterns may not be exercised—but if the goal is just to push on size that may be a simple way to get source files we can control.

Java and C++ in particular generate _incredibly_ noisy wrappers. Go is more moderate, but still large.

[2018-12-04 00:50] dennwc commented on #220
I was tempted to propose protobuf wrappers as well :)

But I haven't seen protobuf wrapper for dynamic languages like Python, Ruby and JS. I assume they may use dynamic language nature and solve most problems with reflection. The UAST of this kind of code will probably be relatively flat (just defining types and calling into the protobuf library), so it won't detect performance issues in the UAST

[2018-12-04 09:35] kuba-- commented on #226
@bzz,  @dennwc - I've ran the test against bblfshd v2.10.0 with enabled tracing. Unfortunately I don't see anything more informative.

---
On `gitbase` I see:
[code]
---
On `bblfshd`:
[code]
---
Jaeger started timing out:
[code]
---
`bblfshctl` commands took so long, so finally I cancelled the query, and got:
[code]

I also attach screenshots from jaegger UI and htop:

<img width="1071" alt="scree

[2018-12-04 12:22] bzz commented on #212
\cc @smola as AFAIK he was working on some Jenkins setup

[2018-12-05 08:43] smola commented on #212
Watch https://github.com/src-d/backlog/issues/1307
We will have a Jenkins instance with a bare nmetal server dedicated to performance tests. It will be ready soon.

It will be guided by `Jenkinsfile` ([see docs](https://jenkins.io/doc/book/pipeline/jenkinsfile/)). I'll provide some example that works with our setup.

[2018-12-10 09:22] tsolakoua commented on #220
@dennwc would something like [that](https://github.com/src-d/go-git/blob/master/repository.go) work or no because it has external dependencies?

[2018-12-10 12:06] vmarkovtsev commented on #223
Bump on this

[2018-12-10 12:42] zurk commented on #219
I do not face this issue with the latest bblfshd on the same tasks Egor runs.
@EgorBu can you confirm that it is not happening with `v2.10.0`?

[2018-12-10 16:44] creachadair commented on #220
It depends on the implementation—Python, for example, has both a "native" implementation and a shim around C++. (In practice, I think ~everyone who cares winds up using the latter for performance reasons). Nevertheless, I think your implicit point is basically right, which is that we wouldn't necessarily use protobuf generated code for all languages.

I'd be less concerned with the external depend

[2018-12-11 21:59] dennwc commented on #223
After trying for a few hours, I neither can reproduce it, nor find by analyzing the source.

According to CI log, you are using an ancient bblfshd version (`v2.5.0`). Is there any specific reason for this? We may have already fixed this upstream.

[2018-12-11 22:30] dennwc commented on #223
Can confirm that it returns the code correctly on `bblfshd:latest` and returns `exit 0` on `bblfshd:v2.5.0`.

[2018-12-12 06:49] vmarkovtsev commented on #223
Thanks for investigating, we will update. If the problem persists, I will reopen.

[2018-12-12 06:49] #223 closed

[2018-12-12 06:50] vmarkovtsev commented on #223
@zurk Can you please update bblfshd in our CIs everywhere and wrap bblfshctl calls in travis_retry

[2018-12-12 10:04] zurk commented on #223
already bumped, will wrap.

[2018-12-12 13:20] ajnavarro commented on #209
@erizocosmico could you give to @bzz the requested info please?

[2018-12-12 13:44] erizocosmico commented on #209
Sure @ajnavarro

[2018-12-12 14:02] erizocosmico commented on #209
[code]

[code]

/cc @bzz

[2018-12-12 14:10] smola commented on #209
@erizocosmico Could you do `du -csh /var/lib/bblfshd/*` inside bblfshd container?
Docker hanging could be related to resource exhaustion: https://github.com/bblfsh/bblfshd/issues/168

[2018-12-12 14:19] erizocosmico commented on #209
Sure @smola

[2018-12-12 15:11] ajnavarro opened #227 "Unable to allocate a driver instance: timeout, all drivers are busy"
On gitbase we are having the following error if we try to parse more than 1000 files:

`bblfshd     | time="2018-11-30T13:13:35Z" level=warning msg="unable to allocate a driver instance: timeout, all drivers are busy" language=go`

https://github.com/src-d/gitbase/issues/634

Even changing the request timeout we still have the error.

Is this timeout a different one? If yes, is it possible to chan

[2018-12-12 15:16] smola commented on #227
I wonder if clients need to distinguish this timeout from others or not, I can think about a couple of solutions:

- Make this timeout an error with a specific gRPC code, clients are meant to retry.
- Remove this error completely, use client's context, and if context deadline exceeded, possibly include in the message whether the timeout was while waiting for a driver or while parsing.

[2018-12-12 15:19] dennwc commented on #227
I think using the client's context is the right way to do it. "Failed to parse" and driver failures are the only error client don't want to retry, and everything else is probably time-related. And we have error codes for both, I believe.

[2018-12-12 16:00] creachadair commented on #227
Agreed the client's context should govern the request. As much as possible we should avoid having "internal" timeouts for things. Any such timeouts wind up affecting the "signature" of the API and the caller has to be aware of them and know what to do.

[2018-12-12 16:55] bzz commented on #212
Linking in some instructions on using Jenkins for perf testing https://src-d.slack.com/archives/C0J8VQU0K/p1544633659068100

[2018-12-12 17:03] creachadair commented on #168
Closing a Unix-domain socket does not necessarily remove it, cf. https://gist.github.com/creachadair/214e46db4a0b891d3e9b52ff8bd861d5

[2018-12-12 23:23] #227 closed

[2018-12-13 10:33] smola commented on #168
I can reproduce this with `bblfshd:2.11.0-drivers` image:

1. Start bblfshd: `docker run --privileged -d -p 9432:9432 --name burn-bblfsh bblfsh/bblfshd:v2.11.0-drivers`
2. Run N threads with a loop doing parse requests. Use N = NumCPU. You might not be able to reproduce this issue if N <= 2 or N > NumCPU. See source code below.
3. Checking sockets with `docker exec -it burn-bblfsh find /var/lib/bb

[2018-12-13 11:09] smola commented on #168
You can reproduce with N > NumCPU too, I think it just reduces the driver instance churn rate a little bit.

[2018-12-13 11:12] juanjux commented on #168
Thanks @smola, this will be very useful.

[2018-12-13 11:30] smola commented on #209
I can reproduce this by sending N (= NumCPU) concurrent requests for huge files which will take forever to parse, all subsequent requests will fail with context deadline exceeded. It might be happening to gitbase that huge files accumulate in parse requests and end up clogging all driver instances.

The unexpected timeouts were fixed here: https://github.com/bblfsh/bblfshd/issues/227

I think the

[2018-12-13 11:44] smola opened #229 "Deadline exceeded when drivers cannot be allocated (even if the client provides context.Background())"
Possibly duped or related to #227 #209

Using `bblfshd:2.11.0-drivers` image.

bblfshd logs:
[code]

client logs:
[code]

Code to reproduce:
[code]

[2018-12-14 11:45] vmarkovtsev opened #230 "Cannot install Go driver"
I run

[code]

and get

[code]

At the same time, `driver install --recommended` works fine and Go driver gets installed.

[code]

[2018-12-14 17:56] creachadair commented on #209
CPU saturation can cause structural problems for gRPC even if there are no explicit deadlines. If the machine is so CPU starved that it can't keep up with channel maintenance (e.g., health checks) the channel can be closed.

I haven't tried it in this case—it's very difficult to arrange in isolation—but this is why it's important not to let the client demand unbounded work, but to shed load, proxy

[2018-12-18 11:53] smola commented on #209
Actually, if CPU is saturated this, we may want to setup bblfshd with less driver instances in the pool. Other than that, I'd see as reasonable that if bblfshd cannot accept more work (e.g. a fixed-size request queue is full), the request returns an error right away and that error is easily identifiable by the client. So they can decide whether to retry with backoff, reduce parallelism, etc.

I re

[2018-12-18 19:43] creachadair commented on #209
Agreed. I think there are two pieces we need: One is for the server to push back when there is too much work, so that the client can tell that it's requesting too much work and back off; the other is for the client to make use of that signal.

For the short term we can probably just work around by forcing the clients to rate-limit themselves (e.g., to some fixed QPS). Making the server behaviour m

[2019-01-03 11:56] EgorBu opened #231 "Umbrella issue for ML team"
Hello,
As we discussed in slack here it's umbrella issue for ML team. I will try to aggregate our wishes and problems here.

## Issues

Let's start with issues:

### bblfshd issues

- [ ] https://github.com/bblfsh/bblfshd/issues/159 *A lot of `<defunct>`*
- [ ] https://github.com/bblfsh/bblfshd/issues/164 *Cannot run on Windows*
- [ ] https://github.com/bblfsh/bblfshd/issues/168 *A lot of files in

[2019-01-11 05:08] bzz commented on #230
Took liberty of closing this, as the question seems to be answered and there is no further discussion for 1 week.

[2019-01-11 05:08] #230 closed

[2019-01-22 15:21] vmarkovtsev opened #232 "driver remove without an argument segfaults"
[code]

[2019-01-22 15:51] dennwc commented on #232
Was fixed two months ago in cd80a49a24bd4155fcbe76901abc59660863bae2.

[2019-01-22 15:51] #232 closed

[2019-01-25 16:34] smacker commented on #229
I'm having the same issue with csharp driver. Most probably it takes more than 5 seconds to start it on my system and:
[code]

Looks like timeout is triggered by this value: https://github.com/bblfsh/bblfshd/blob/master/daemon/pool.go#L24
I tried to change timeout in context of the client but no luck.

[2019-01-25 16:48] dennwc commented on #229
I'm working right now to fix some timeout issues, and I think the general consensus is to remove default timeout from `bblfshd` and let the client decide. I will fix it shortly.

[2019-01-30 12:02] smacker opened #235 "Add C# driver to install --all"
The driver is in alpha/beta stage already and usable. But isn't available to install anyhow but manually.

[2019-01-30 12:04] smacker commented on #235
Copy-past from slack as Alex requested:

[2019-01-30 12:06] juanjux commented on #235
Probably once we merge this, which should be Real Soon Now :tm:  since it has a gazillion fixes:

https://github.com/bblfsh/csharp-driver/pull/17

[2019-01-30 18:18] creachadair opened #237 "Investigate the feasibility of a PL/SQL driver"
Many enterprises use PL/SQL as a convenient mechanism for integrating computation with their database infrastructure. The existence of large in-house PL/SQL codebases presents an interesting tooling problem for those companies.

Investigate whether a Babelfish driver for PL/SQL is practical. Ideally we'd want a solution that is based on an open-source toolchain, in preference to rolling our own.

[2019-01-31 00:42] creachadair opened #238 "Parse RPC cannot handle file contents that are invalid UTF-8."
## Summary

This issue was reported by Fábio Costa Silva in the [source{d} community Slack](https://sourced-community.slack.com). What follows is my distillation of it and a relatively-minimal repro.

The [`ParseRequest`](https://github.com/bblfsh/sdk/blob/42e2023d304c66a242444d467c48f6913748e411/protocol/driver.proto#L14) protobuf message specifies a `content` field of type `string`. Per the [pro

[2019-01-31 00:46] creachadair commented on #238
Note that this error does not occur if you run `srcd parse uast Bad.java`. I assume this is because that code path does not make an RPC, but uses the library directly (but that is a guess, I haven't looked).

[2019-01-31 08:49] juanjux commented on #238
Currently we only support UTF-8 or ASCII (since it's a subset). The problem is not only for protobuf, but also for the SDK and bblfshd which expect UTF-8, so just converting to bytes wouldn't work. Note that ISO-8859-1 is not a subset of UTF-8 and thus is incompatible so its up to the user to convert any source code into UTF-8 before passing it to bblfsh. What we could do is to do the conversion o

[2019-01-31 09:05] juanjux commented on #235
csharp-driver 1.0 have been published and now the csharp driver is installed both by `bblfshctl driver install --recommended` and `--all`.

[2019-01-31 09:05] #235 closed

[2019-01-31 15:32] creachadair commented on #238
Is that documented anywhere? At the very least we should report a better error than a marshaling failure when this happens.

Guessing the encoding is clearly the wrong solution, but I had in mind to allow the user to specify the encoding as a separate field.

[2019-01-31 15:38] dennwc commented on #238
Agree with @juanjux, all the pipeline expects UTF8. We should convert the string before sending it to the drivers.

We can extend the protocol for `bblfshd` and allow to specify an encoding. `bblfshd` will take care of the conversion and will send UTF8 to the driver. We do exactly the same for v2 -> v1 compatibility layer.

[2019-01-31 16:00] creachadair commented on #238
If Babelfish requires UTF-8, I think we need to document that very clearly and give a better diagnostic message than a random failure from inside the stack. I agree that the priority of supporting other encodings is low, but requests should report an orderly error instead of failing IMO.

[2019-01-31 16:01] dennwc commented on #238
Sounds good, let's check the content for UTF8.

[2019-01-31 17:43] dennwc commented on #229
Probably broken by https://github.com/bblfsh/bblfshd/commit/e5ca340b55a841234e7a66089ca8ffcc3ec33e66

[2019-01-31 21:09] fcostasilva commented on #238
Hi All,
After trying several projects, I believe the root cause is not an invalid encoding. At least Linux and Mac show "us-ascii" whenever I check a file. If I try to navigate through the AST I get an even worse error. For example:

statement:
`UAST(files.blob_content, LANGUAGE(files.file_path, files.blob_content), '//*[@roleCallee]/Identifier[@Name="trim"]')`

result:

`rpc error: code = Unknown

[2019-01-31 21:42] creachadair commented on #238
Most of the files in that repository are indeed US-ASCII or UTF-8, but there are a dozen or so that are other things (mostly fragments, and in one case ISO-8859-1). I don't actually know which file triggered the original error (I couldn't see the log output from inside the container), but I am confident they're not all plain ASCII.

That appears like it may be a different error than the one this i

[2019-01-31 22:37] fcostasilva commented on #238
As a matter of fact, I have just executed the same query in the web client and the command-line, and the web client works fine.

command-line:
![command-line](https://user-images.githubusercontent.com/7120328/52090111-b6a13200-25b0-11e9-92dd-73eb0fef1583.png)

web-client:
![web-client](https://user-images.githubusercontent.com/7120328/52090125-c1f45d80-25b0-11e9-9f86-558c15d5d61c.png)

.

[2019-02-01 18:08] creachadair opened #243 "Deployment builds generate an invalid Go linker command-line"
When Travis builds for deployment, e.g., upon seeing a new release tag, it generates a build stamp with a space in it. This unfortunately breaks when the `go` tool strips off the outside quotes from its `-ldflags` argument, because it results in an extra unrecognized argument.

An example from a recent push build:

[code]

This is not the time format we wanted, which is (for example):

[code]

I'm

[2019-02-01 18:52] creachadair commented on #237
Another [list of PL/SQL tools](https://docstore.mik.ua/orelly/oracle/webapp/ch06_04.htm). I have not followed up on most of these yet.

[2019-02-05 12:17] zurk commented on #231
\+ https://github.com/bblfsh/bblfshd/issues/236 (JS driver related)

[2019-02-05 16:04] dennwc commented on #231
**2)** was fixed in https://github.com/bblfsh/javascript-driver/pull/50

[2019-02-05 16:10] dennwc commented on #231
I've checked the issues list and some of them are already resolved.

@creachadair Maybe we can make a separate project for this to track the progress?

[2019-02-05 18:00] creachadair commented on #243
Ok! Progress: The quoting issues are _actually_ fixed now. The CI still [generates a different timestamp](https://travis-ci.org/bblfsh/bblfshd/builds/489161481), e.g. `2019-02-05T05:54:55 PM+0000` instead of `2019-02-05T05:54:55+0700` (note the inserted `PM`).

[2019-02-05 19:41] se7entyse7en commented on #238
I think that this is the same issue that was open on [engine](https://github.com/src-d/engine/issues/196).

[2019-02-05 21:06] creachadair commented on #243
This is now fixed and deployed in release v2.11.4.

[2019-02-05 21:06] #243 closed

[2019-02-06 09:17] ajnavarro commented on #238
@creachadair @fcostasilva

To know the cause of `invalid type: BLOB` we need the complete query.

On that query, some blob column is used in some place that is not possible. That part: `UAST(files.blob_content, LANGUAGE(files.file_path, files.blob_content), '//*[@roleCallee]/Identifier[@Name="trim"]')` appears to be OK.

[2019-02-06 12:30] smacker commented on #229
Looks like the issue is solved: https://github.com/bblfsh/csharp-driver/issues/25

[2019-02-06 12:55] dennwc commented on #229
@smacker Is it? What is different now?

[2019-02-06 13:25] smacker commented on #229
There is no `context deadline exceeded` error anymore, request runs forever with `context.Background()`.

[2019-02-06 13:49] dennwc commented on #229
Awesome! It means you are using the v2 API under the hood. I'll close this one then. Thanks for checking it!

[2019-02-06 13:49] #229 closed

[2019-02-06 17:47] eiso commented on #237
Any update here?

[2019-02-06 17:50] creachadair commented on #237
Not yet, I got derailed by other things. I'll post an update by EoW.

[2019-02-06 18:36] creachadair commented on #238
I believe the OP's query is more or less one of the examples from the documentation, so I am hoping it should be OK.

[2019-02-06 23:00] fcostasilva commented on #238
@creachadair Yes, this is the example "Find all files where 'trim' method is called" from the documentation. This one also fails on the web client, as you can see in the attachment.

![web](https://user-images.githubusercontent.com/7120328/52379627-44769480-2a6b-11e9-9c12-f18e6843e6a7.png)

![trim](https://user-images.githubusercontent.com/7120328/52378737-c7e2b680-2a68-11e9-897d-e5d82fb2d5bc.png)

[2019-02-07 10:04] bzz commented on #231
Short-term and as a first step we could convert PR description to have a checkboxes and mark issues that are solved. Happy to do that, if nobody has any objections or better short-term suggestions.

[2019-02-07 10:08] bzz commented on #184
From https://github.com/src-d/style-analyzer/issues/552#issuecomment-458881442 by @m09

So a reproducible example should look something like

[code]

@m09 would that be correct?

[2019-02-07 12:15] bzz opened #247 "Binary released as part of v2.11.4 can not parse the build date"
Reported in Slack on recent [v2.11.4](https://github.com/bblfsh/bblfshd/releases/tag/v2.11.4).

When running on linux, a release tarball contains a binary that can not be started.

Steps to reproduce:

[code]

The reason seems to be extra `"` in the build time.

Plan

 - [x] reproduce on local linux build
 - [x] try reverting https://github.com/bblfsh/bblfshd/pull/242/
 - [x] try `strings.Trim(bui

[2019-02-07 12:29] bzz commented on #247
From the container `bblfshd version: dev-2e8884b-dirty (build: 2019-02-07T13:05:50+0100)`
From the binary ve `bblfshd version:  (build: "2019-02-07T12:00:24+0000")`

[2019-02-07 14:43] ajnavarro commented on #238
the `invalid type: BLOB` is because the query you are using is not compatible anymore with the way we are serializing the bblfsh output. Before it was a JSON array, now it is a blob.

`ARRAY_LENGTH(JSON)` expects a JSON, not a blob. The output from `UAST` is a blob with a special serialization to make it more performant.

To make that query works with an actual gitbase version, you need to add `ua

[2019-02-07 18:57] #247 closed

[2019-02-07 22:44] m09 commented on #184
It seems about right to me. I remember having tried other ways such as first using `remove` and then an `install` instead of `install --upgrade` and the result was the same.

BTW in your example you specified python but it might only be buggy with javascript.

[2019-02-08 22:34] creachadair commented on #237
Update: Slim pickings. Lots of noise, but very little utility.

I spent some quality time trawling search results for PL/SQL and related queries. **In summary:** There are a lot of tools available for PL/SQL, but very little that will be of use to us. Even Oracle, who is probably the largest driver of PL/SQL (via its products that support it) does not appear to offer libraries for parsing or manip

[2019-02-11 12:11] carlosms opened #249 "bblfshctl driver install --force is misleading"
The `bblfshctl driver install --force` is misleading, it gives you the understanding that you are _forcing_ to install a driver even if it is already installed. But what is actually happening is that the error message becomes a warning.

[code]

[2019-02-11 17:22] creachadair commented on #219
Having heard no further updates since @zurk's comment above, I'm going to go ahead and close this as resolved. However, if you do still see it happening please feel free to reopen it.

[2019-02-11 17:22] #219 closed

[2019-02-11 17:54] creachadair commented on #231
It's a good idea, and I started working on this. So far I have mostly just rearranged things cosmetically, checking off items that are complete and separating out the FRs from the bugs.

[2019-02-11 22:52] eiso commented on #237
Building one of our own. What's the kind of effort it would take? I'll reach out to the CEO of Semantic Designs too.

[2019-02-11 23:36] creachadair commented on #237
For a language (other than C++) with a well-documented grammar, it would be not that much work to generate a parser: A couple weeks of work, I would estimate, to put it together and shake out the basic operability issues. However, the PL/SQL grammar is defined [informally](https://docs.oracle.com/cd/B28359_01/appdev.111/b28370/langelems.htm#LNPLS013), in discursive Enterprise Language™, and the sp

[2019-02-13 13:56] bzz commented on #249
Related to #184 so most probably can be addressed together.

[2019-02-14 09:06] juanjux commented on #237
If we're building our own parser we could also take a look at PEG style parsers, which I personally like a lot. [This one](https://github.com/PhilippeSigaud/Pegged) in particular is amazing because it generates the parser from the grammar at compile time.

[2019-02-14 18:09] smacker opened #252 "error re-scaling pool: context canceled"
bblfshd: v2.11.7-drivers

Use https://github.com/aws/aws-sdk-php as dataset.

Script:
[code]

In bblfsh logs lots of errors:
[code]

the script itself produces only few
[code]

[2019-02-14 18:11] smacker commented on #252
I see the same errors with client-go v2.

[2019-02-14 18:12] dennwc commented on #252
Looks like a bug in `bblfshd`.

[2019-02-14 18:16] smacker commented on #252
The same script but with `N = 50` instead of `10` also produces:
[code]

[2019-02-19 11:34] smola commented on #252
Related? https://github.com/bblfsh/bblfshd/issues/194

[2019-02-22 13:29] bzz opened #253 "Simple DoS on bblfhsd with error re-scaling pool: context canceled"
Parsing this syntactically incorrect js fragment triggers https://github.com/bblfsh/sdk/issues/371 but if a `bblfshd` is used instead of the driver directly - this condition kick the `bblfhsd v2.11.7` into the infinite loop on the next request to the same driver

Logs
[code]

Could be related to #252

## Steps to reproduce

Same as in https://github.com/bblfsh/sdk/issues/371 but with `bblfshd` ins

[2019-02-22 16:34] #253 closed

[2019-02-22 18:09] smacker commented on #252
JFYI this issue wasn't fixed by v2.11.8 (#254)

[2019-02-22 18:55] carlosms commented on #238
https://github.com/src-d/engine/issues/196 has been included in the [engine v0.10.0](https://github.com/src-d/engine/releases/tag/v0.10.0) release. This fixes the `invalid UTF-8 string` error between the `srcd sql` client and the `srcd-cli-daemon` container. I don't know if this encoding issue is also present in some other internal bblfsh communication, though...

[2019-02-22 22:22] creachadair commented on #238
The driver protocol does contain a `string` field which could in principle be affected, however I was not able to reproduce it.

[2019-03-01 17:03] #238 closed

[2019-03-06 09:56] dpordomingo opened #259 "bblfshd:v2.11.8-drivers is broken after parsing csharp"
discovered at https://github.com/src-d/empathy-sessions/issues/37#issuecomment-470045137

might be related to https://github.com/bblfsh/csharp-driver/issues/27
caused by https://github.com/bblfsh/csharp-driver/issues/32

While using `bblfsh/bblfshd:v2.11.8-drivers` image (the current latest), and parsing a `csharp` file I discovered that it screwed the bblfsh container up, and it won't be able to

[2019-03-06 10:27] rporres commented on #184
Added to this, the error thrown when you try to install a downgraded driver is misleading for the uninitiated. For example, I was trying to install `v1.2.0` in `bblfshd:v2.11.7-drivers` which returned this message:
[code]
In my noobiness I thought this meant that `v1.2.0` was already installed whereas the reality was quite different 😅:
[code]

[2019-03-06 10:34] bzz commented on #259
This seems like something that may have also been already addressed by @dennwc in #258 🤔

[2019-03-06 10:37] rporres opened #260 "Give ML team permissions to see staging and lookout-demo logs"
And a nice setup guide

[2019-03-06 10:37] rporres commented on #260
wrong repository

[2019-03-06 10:37] #260 closed

[2019-03-06 10:44] dpordomingo commented on #259
Great!
I'll subscribe to #258 and try to reproduce it again once there is a new `bblfshd` image

[2019-03-08 16:28] dennwc commented on #259
Still cannot reproduce it properly. The closest a can get is:
[code]
Still, it doesn't fail. If I change the `JAEGER_AGENT_HOST` to `non.existent` the `bblfshd` container fails to start, as expected. But I cannot make it run the `bblfshd`, but fail the driver with that option.

In any case, both problems should be fixed in the next `bblfshd` release thanks to the driver pool rewrite.

[2019-03-13 15:43] bzz opened #263 "Language aliases support"
Enry and Bblfsh use different language names and one driver is responsible for parsing multiple dialects.

Right now bblfsh can accept both bblfsh or enry language names (for most common cases), but returns always only bblfsh ones.

Initial RFC and implementation details are in [mailing list](https://groups.google.com/forum/#!topic/bblfsh-dev/mo1o5d_CwnA)

This issue is going to be used as ☂️ and

[2019-03-13 15:47] smacker commented on #263
List of affected projects:

- jgit-spark-connector
  - src-ml
    - apollo
  - gemini
- gitbase
  - gitbase-web
    - engine
  - gitbase-spark-connector
  - gitbase-spark-connector-enterprise
- engine (`parse` command)

[2019-03-16 19:10] smacker opened #264 "Memory leak"
Code to reproduce the issue: https://gist.github.com/smacker/1f01afa3002cdd706e0eb08e38352546

Start bblfsh & run the script:
[code]

[code]

Drivers started. All good.

Let's wait a little.

[code]

Docker almost got frozen at this point. 23 seconds to get stats.
And it's getting worse after a while and only killing docker itself helps because `docker stop` doesn't respond.

[2019-03-16 19:31] smacker commented on #264
update: I run it once again and got similar behavior but at one point client received: `rpc error: code = Unavailable desc = transport is closing` and memory was freed.
I see 1 in "EXITED" column for go driver in `bblfshctl status`.

In server logs I see:
[code]

[2019-03-16 19:34] smacker opened #265 "unexpected EOF error for empty python files"
Code from https://github.com/bblfsh/bblfshd/issues/264:
/Users/smacker/tmp/srcd-all/apollo/apollo/__init__.py:unexpected EOF

not sure if it's a problem in driver or client or sdk.

[2019-03-16 20:30] smacker opened #266 "driver failure: native driver is not running"
Try to parse file from this issue: https://github.com/bblfsh/python-driver/issues/182

The driver is broken after it and doesn't get restarted. For example, it is broken right now on https://play.bblf.sh/ and parsing of python files doesn't work anymore.

[2019-03-16 20:41] smacker commented on #264
most probably related: https://github.com/bblfsh/bblfshd/issues/226

[2019-03-18 19:07] creachadair commented on #265
I tried to reproduce this in the driver:

[code]

That would suggest this is downstream of the driver—but if you include the `--native` flag it generates a JSON error, so I'm not sure this is the whole story.

@dennwc am I doing something wrong here?

[2019-03-19 10:36] bzz commented on #226
Next upcoming bblfshd release (v2.12?) will include fixes for driver scheduling that are already in the master that should most probably fix this.

[2019-03-19 10:39] bzz commented on #264
Just to clarify - most probably all above is using latest [v2.11.8](https://github.com/bblfsh/bblfshd/releases/tag/v2.11.8) and with high probability is expected to be fixed in master, so should be tested on v2.12.0 as soon as it's out (today?).

[2019-03-19 11:13] smacker commented on #264
It's using `v2.11.8-drivers` as you can see in the issue description.
I'm not sure it's going to be fixed in 2.12. It *looks* like the leak is in go driver.
(I see memory grows slowly when I just parse the same small file in the loop & as described above after bblfsh restarted go-driver memory was freed)

[2019-03-19 11:15] bzz commented on #266
This is most probably happens on v2.11.8 which does include #250, but since than driver pool mgt landed on master e.g #258 so I tested on the *latest master* 031513f:

[code]

logs for first request

[code]

logs for second request
[code]

@dennwc this seems to be well reproducible.

[2019-03-19 11:18] dennwc commented on #266
@bzz Thanks for testing it! Holding the release.

[2019-03-19 11:42] bzz commented on #265
Tried to reproduce this on latest master, similar to

[code]

logs

[code]

[code]

Going to move it to python-driver if no objections and handle it as part of the scope for upcoming release https://github.com/bblfsh/python-driver/milestone/1

[2019-03-19 11:53] bzz commented on #259
Hey, @dpordomingo is there a chance you will have some spare cycles to verify @dennwc suggestions from https://github.com/bblfsh/bblfshd/issues/259#issuecomment-470989143 ?
It would be very helpful, for the upcoming v2.11.9 release. Thanks again!

[2019-03-19 12:19] dennwc commented on #266
The cause of driver crash is https://github.com/bblfsh/python-driver/issues/185. Still, need to fix on `bblfshd` side.

[2019-03-19 13:54] dennwc commented on #266
Not related to `bblfshd` - moving to SDK.

[2019-03-19 14:29] dennwc commented on #259
I think this is the same as https://github.com/bblfsh/sdk/issues/380. I've seen similar failure mode when working on a fix. If the native driver crashes, the request will just hang forever waiting to either write a request or read the response.

In case of https://github.com/bblfsh/sdk/issues/380 the driver crashed when a request was already written, so the function at least marked the driver as d

[2019-03-19 15:58] dennwc opened #267 "Support Prometheus metrics"
Infrastructure team now has a Prometheus setup, so we should take advantage of it.

[2019-03-20 13:44] vmarkovtsev opened #268 "Multiple different driver bugs from a large-scale parse"
I noticed that the cpp driver crashed at some point of my massive GitHub repository parsing.
Here are the logs: https://drive.google.com/file/d/1SqQt4s6sAJtF5im4nb3nY-Ig1K7gquQ9

[2019-03-21 16:35] bzz commented on #268
Moved to bblfshd. Going to file individual driver issues from https://github.com/bblfsh/bblfshd/issues/268#issuecomment-475046348 now

[2019-03-21 17:56] creachadair commented on #268
A concrete demonstration of Bjarne Stroustrup's occasional observation that there are two kinds of languages: Those everyone complains about, and those nobody uses. Apparently even the compiler agrees. 😜

[2019-03-21 23:14] bzz opened #269 "Print driver versions in logs after installation"
Right now in bblfshd logs after driver installation we have

[code]

which is not very useful for debugging as we do not know the version/build number from the ` :latest` tag.

[2019-03-21 23:39] bzz commented on #268
Triaged, actionable bugs:
 * PHP https://github.com/bblfsh/php-driver/milestone/1
 * JavaScript https://github.com/bblfsh/javascript-driver/issues/75
 * SDK https://github.com/bblfsh/sdk/issues/384
 * Ruby https://github.com/bblfsh/ruby-driver/issues/43
 * Java https://github.com/bblfsh/java-driver/milestone/1

The only 1 thing that is left before we can close this one are: dig a bit deeper to the

[2019-03-22 00:20] bzz commented on #268
As soon as origin of last C++ failure is identified and a new issue is created for it under https://github.com/bblfsh/cpp-driver/milestone/1  - I think it should be good to close this issue in favor of individual driver milestones.

[2019-03-22 07:06] vmarkovtsev commented on #268
@bzz FWIW here is another log which is 8 times bigger, taken yesterday night: https://drive.google.com/file/d/1kBCdZm49sVEjVzVmcFX1flUgv6gvHBw1

[2019-03-24 21:05] vmarkovtsev opened #270 "bblfshd is eating 200% CPU without requests after heavy load"
I've extracted many, many UASTs in 48 threads within the last 4 days. All the clients finished, finally. After several hours, I logged in the machine and watched `bblfshd` process consuming 200-220% CPU in `top`. There are no clients running, I guarantee. `docker logs bblfshd` is here: https://drive.google.com/file/d/1ZWYotVO9tBPDBsZ07STQDH7gwPmK_rvM

[2019-03-24 21:08] vmarkovtsev commented on #270
In case you want to debug yourself, `ssh 163.172.109.207`. @meyskens can provide access.

[2019-03-25 08:40] meyskens commented on #270
I you want access to the server, be fast as they will be returned at the end of this month.

[2019-03-25 11:13] bzz commented on #268
Thank you! We still have to finish the scope from the previous one first, I'm afraid 😆

What would really help is if we could collect a new log like that as soon as new bblfhsd is released. E.g if you could describe some simple procedure of getting one - we could run it on our own.

Otherwise, I'll get back and analyse this log but after finishing with current issues, most probably next week. Than

[2019-03-25 11:49] bzz commented on #270
@meyskens if that is not too hard - I would take a quick look in order to add more information about the symptoms in here.

[2019-03-25 12:30] bzz commented on #270
🙇 @meyskens

More context from that machine

[code]

[2019-03-25 12:57] bzz opened #271 "bblfshd process as PID 1 inside the container"
While looking at #270 I noticed that `bblfshd` seems to be the [PID 1 process](https://github.com/bblfsh/bblfshd/blob/master/Dockerfile#L44) inside the container.

This issue is about changing that to something like https://github.com/Yelp/dumb-init or [something similar](https://github.com/krallin/tini/), with motivation well described at https://github.com/Yelp/dumb-init#why-you-need-an-init-sys

[2019-03-25 13:19] vmarkovtsev commented on #270
@bzz As far as I remember, `kill SIGABRT bblfshd` should print the goroutine stacks, but also kill the process.

[2019-03-25 13:21] bzz commented on #270
two suspicious threads

[code]

and getting the full list of goroutines in details seems not reasonable, stoped counting after 1500

<details>

[code]
</details>

[2019-03-25 13:26] bzz commented on #270
I think i'm going to trigger a full core dump of the process now with `GOTRACEBACK`, if there are no other suggestions.

And indeed, that would kill the process, that is also a PID 1.

@vmarkovtsev AFAIK you were using 3-4 machines for this large-scale parse, could you confirm that it's the only one that ended up in this state plz?

[2019-03-25 13:30] vmarkovtsev commented on #270
Wow, actually @bzz it became even funnier now. Right now on `163.172.109.45` and `163.172.109.60` bblfshd is eating 900% CPU without any reason. I stopped the extraction this morning, but did not check `top` on them.

[2019-03-25 13:32] bzz commented on #270
Awesome, thanks! Updated the msg above - we have a core dump now 😈

[2019-03-25 15:03] creachadair commented on #271
I agree. I think we should definitely not run `bblfshd` as PID 1, and I didn't realize that was the default.

Particularly for a process that runs a lot of child processes, getting the corner cases of reaping exits right is tricky. Most programs rely on having `init` as a fallback, and I bet this is also part of what causes https://github.com/bblfsh/bblfshd/issues/159.

[2019-03-25 15:18] bzz commented on #270
Could not resist the temptation to spend some time trying out awesome `dlv` instead of `gdb`.
Here is a goroutine histogram

[code]

[2019-03-25 15:48] creachadair commented on #270
Ah, yes, that would definitely contribute. However, I think that can't be the whole story, since even a load-balancing channel shouldn't have more goroutines than available endpoints (and usually not even that many).

Once we have some of the process-management issues under control, I'd like to revisit how we deal with load-shedding on the server side. I believe servers should almost always have a

[2019-03-25 16:41] vmarkovtsev commented on #270
Can it be because of the numerous dying drivers and unclosed channels to them? 🤔

[2019-03-25 16:45] creachadair commented on #270
It could—I suspect both are factors. The kernel _should_ drop the connections for processes that have exited but not been reaped, but there may be something different happening inside docker.

[2019-03-26 09:19] dennwc commented on #271
May be relevant: https://github.com/bblfsh/bblfshd/issues/159

[2019-03-26 15:09] dennwc opened #272 "Drop unused OS column from the drivers list"
OS column is currently printed in the driver list:
[code]
But since we changed the build system this column has no effect on the driver and is probably outdated.

We should drop this column from the manifest and the driver list output.

[2019-03-26 18:15] #272 closed

[2019-04-05 23:38] youngmit opened #276 "Is is possible to run without Docker?"
Docker seems like a wildly over-engineered approach to managing installation of drivers, and is not available on some platforms and many configurations and contexts (e.g. WSL on a windows box with no admin privs). Ive gotten the standalone daemon to run just fine, but can't for the life of me figure out how to get the python driver installed without docker. And for that matter can't think of a rea

[2019-04-06 00:15] dennwc commented on #276
Babelfish does not require Docker to run, but it requires namespaces and cgroups provided by Linux kernel. We use [libcontainer](https://github.com/opencontainers/runc/tree/master/libcontainer) under the hood to isolate language drivers and it might not work under WSL properly.

We cannot provide direct support for your use case, however, you may try to follow [guides](https://medium.com/devopslin

[2019-04-08 09:37] bzz commented on #276
@youngmit the main reason for using containers for drivers (though libcontainer) is to isolate environment for the native driver, incapsulating all dependencies, parser versions, etc.

Although please, help me understand - if you have a Daemon running alright and want to install a python driver - what is the current output of `bblfshctl driver install python bblfsh/python-driver:latest`?

[2019-04-12 14:03] dennwc commented on #252
Should be fixed in the latest version.

[2019-04-12 14:24] dennwc commented on #268
If it's possible, let's run the same large-scale parse again with the latest bblfshd. It should fix most of the issues.

[2019-04-12 18:48] vmarkovtsev commented on #268
I am going to do this next week.

[2019-04-18 17:12] carlosms commented on #259
I've just come across this issue. In case it helps, here is my env:
bblfsh image `bblfsh/bblfshd:v2.12.1-drivers`.

file `hello.cs`
[code]

Request made:
ParseRequest.content:
[code]
ParseRequest.options:
[code]

bblfsh container logs:
[code]

[2019-04-19 14:35] dennwc commented on #259
@carlosms It's not related to this issue. The issue you have is probably due to incorrect tracer configuration, as an error suggests. Try removing related [envs](https://github.com/bblfsh/bblfshd#enable-tracing) or set it to something valid.

Closing this, since an original issue was fixed.

[2019-04-19 14:35] #259 closed

[2019-04-19 14:40] dennwc commented on #252
Assuming this was fixed. Feel free to reopen if it's not.

[2019-04-19 14:40] #252 closed

[2019-04-19 17:07] carlosms commented on #259
Pasting here for reference.
As discussed in slack, the problem is not incorrect config, as the container is using the default configuration.
The proposed workaround for now is to set the env var `JAEGER_DISABLED=1`.

[2019-04-23 13:12] smola commented on #271
We use [tini](https://github.com/krallin/tini) in some of our projects. [See an example](https://github.com/src-d/gitbase/blob/90b377cdd1d03c43d59cdc335cde28dc82b8ae19/Dockerfile#L29).

[2019-04-24 12:37] vmarkovtsev opened #281 "--recommended does not work"
Using the latest docker image, I run

[code]

This command silently returns and nothing happens. The logs stay silent, no drivers are installed.

[2019-04-24 12:37] vmarkovtsev commented on #281
`--all``works though.

[2019-04-24 12:45] dennwc commented on #281
Is this a `-drivers` image?

[2019-04-24 14:09] vmarkovtsev commented on #281
Nope, I followed https://docs.sourced.tech/babelfish/using-babelfish/getting-started

[2019-04-24 14:13] creachadair commented on #281
Well, I guess at very least we should call out that distinction in our setup instructions.

[2019-04-24 14:16] dennwc commented on #281
Interesting. Sounds like a bug, indeed.

[2019-04-24 14:27] creachadair commented on #281
Repro (macOS):

[code]

[2019-04-24 14:30] creachadair commented on #281
Repro (macOS):

[code]

My first attempt was to just switch to the drivers image:

[code]

But then even after `docker exec -it bblfshd bblfshctl driver install --recommended` the driver list was empty. As @vmarkovtsev pointed out, `--all` works in this latter case, though.

[2019-04-24 14:37] creachadair commented on #281
Oh, and actually even without switching which image tag I used, `--all` worked fine (which in retrospect is probably what you meant).

[2019-04-24 14:40] dennwc commented on #281
The workaround is to use `-drivers` images for now. It's the same as `--recommended`.

[2019-04-24 14:45] vmarkovtsev commented on #270
@dennwc @creachadair I seem to have found a reliable way to reproduce this using the latest bblfshd.

Download:

- [tasks1.txt](https://github.com/bblfsh/bblfshd/files/3112794/tasks1.txt)
- [hercules](https://github.com/src-d/hercules/releases/download/v10.0.4/hercules.linux_amd64.gz) - to be renamed to `hercules` and `chmod +x`

Setup:

[code]

Run:

[code]

Copy-paste there:

[code]

Leave it ru

[2019-04-24 15:13] dennwc commented on #281
OK, I know the reason now.

`bblfshd` uses either Github or a static driver list for discovery. To know what drivers are recommended, it checks the latest version of each driver and checks if the driver supports the same SDK version as `bblfshd`.

And recently we did a version bump for SDK and updated all the drivers to Go modules. Now old `bblfshd` considers all new driver versions incompatible b

[2019-04-29 17:52] dustinmichels opened #282 "Passing local file to parse command"
Hi,

I realize this may be more of a Docker question than an issue specific to this repo, but I would love an example in the documentation for how to pass a local file to the parse command.

On the [Getting Started](https://doc.bblf.sh/using-babelfish/getting-started.html) you list the following command to run an example file included in the container:

[code]

I'm having a lot of trouble figuring

[2019-04-29 19:32] dennwc commented on #282
Hi @dustinmichels!

It is indeed Docker-related, but we should clarify it in the documentation anyway.

You achieve similar results in a few different ways, please pick one that suits your workflow better.

### Mount the directory to bblfshd container

The first way is to expose one of your directories to bblfshd directly. It is the simplest option, but if you don't trust either Docker or bblfshd,

[2019-05-01 15:53] #194 closed

[2019-05-01 15:53] #267 closed

[2019-05-01 18:06] dustinmichels commented on #282
Thank you so much for the detailed reply. Much appreciated!

[2019-05-02 17:21] creachadair commented on #282
Agreed, this is great, and in fact I would like to turn all of https://github.com/bblfsh/bblfshd/issues/282#issuecomment-487713139 into a new entry on the documentation site. I'll look into that now.

[2019-05-03 11:17] dennwc opened #285 "bblfshctl should use protocol v2 for parsing"
`bblfshctl parse` [still uses](https://github.com/bblfsh/bblfshd/blob/master/cmd/bblfshctl/cmd/parse.go#L9) protocol v1 for parsing. We must update it to use v2, as all other clients do.

This may be considered a breaking change, thus it should be under `--v2` flag for now.

[2019-05-03 12:02] bzz commented on #268
It seems like all, but C++ and Ruby driver bugs were already fixed now.

[2019-05-03 12:11] dennwc commented on #268
Let's wait for the new bblfshd release, rerun the parse job and see if it catches anything new.

[2019-05-03 13:00] vmarkovtsev commented on #270
@dennwc @bzz @creachadair Any updates? This is a critical issue for us.

[2019-05-03 13:06] dennwc commented on #270
Yes, we are waiting for an Enry release to cut a new bblfshd release. We can cut it before that though.

[2019-05-03 13:21] vmarkovtsev opened #286 "bblfshd crashed and does not start after parsing millions of files"
I ran massive file parsing on 4 machines:

* `typos-1.infra.mining.prod.srcd.host`
* `typos-2.infra.mining.prod.srcd.host`
* `typos-3.infra.mining.prod.srcd.host`
* `typos-4.infra.mining.prod.srcd.host`

The pipeline was the same as in https://github.com/bblfsh/bblfshd/issues/270#issuecomment-486272814 How I started bblfshd:

[code]

All the versions correspond to #281

Those instances ran for sev

[2019-05-03 13:38] dennwc commented on #286
[code]
Try removing the `/var/run/bblfshctl.sock` file on the server.

[2019-05-03 13:40] dennwc commented on #286
It also shows a giant stack trace at the end. From a quick look, it may have been affected by https://github.com/bblfsh/bblfshd/issues/264.

[2019-05-03 14:23] dennwc commented on #286
bblfshd v2.13.0 is out and should fix the crash, memory consumption and hopefully the CPU consumption as well.

Leaving this issue open, since we still need to solve an issue with the socket left after bblfshd crash.

[2019-05-03 14:38] smacker commented on #252
confirm. fixed.

[2019-05-03 14:40] dennwc commented on #268
v2.13.0 is out, we can start testing it.

[2019-05-03 15:30] smacker commented on #264
Not sure if it's fixed.

[code]

[code]

After few more minutes:

[code]

After some more time, similar to the previous report at one point it produced:
[code]

and the memory went down:
[code]

and started climbing slowly again.

bblfsh/bblfshd:v2.13.0-drivers

[2019-05-03 15:31] bzz commented on #270
👍 indeed, let's not wait for enry if that is not crucial for the fix

[2019-05-03 15:38] #271 closed

[2019-05-03 15:50] dennwc commented on #159
Since there is no feedback on this, I'll close it. The new release (v2.13.1?) will use `tini` as an init system and should reap those processes.

[2019-05-03 15:50] #159 closed

[2019-05-03 17:05] smacker commented on #264
After some more investigation, it looks like actually fixed.

First I tried to parse the same small file in loop and the memory is stable.

Then I was using this script: https://gist.github.com/smacker/ac5a1457bfd088b21c5b1c3181bcf670
which parses the same _big_ file in the loop and print stat after each successful parsing.

[code]

memory doesn't grow infinitely anymore.

The behavior from above

[2019-05-03 17:05] #264 closed

[2019-05-06 13:59] dennwc commented on #226
v2.13.0 is out and should fix this.

[2019-05-06 14:59] #286 closed

[2019-05-06 17:23] #285 closed

[2019-05-15 15:14] dennwc opened #293 "Propagate metrics from the drivers"
Currently, `bblfshd` exposes only its own metrics. Ideally, we should expose metrics from containers as well. Since we are not directly exposing any ports from driver containers, we will have to aggregate metrics manually from `bblfshd` and expose them as well.

[2019-05-22 21:10] dennwc commented on #226
No feedback so far, assuming this was fixed.

[2019-05-22 21:10] #226 closed

[2019-05-23 15:00] #263 closed

[2019-06-27 19:05] elizabethdinella opened #296 "Output UAST as true json"
Hello,

The output of the UAST is not true json in that it's fields are not surrounded by quotes which makes it difficult to read and parse using python, javascript, etc.

Is there a way to output a true json object that can be loaded using a JSON library?

Thank you!

[2019-06-28 09:20] dennwc commented on #296
Hi @elizabethdinella!

If you mean the output of `bblfshctl`, you are right, the output is not JSON, it's YAML. You can either use YAML parser or use a CLI that comes with a [Go client](https://github.com/bblfsh/go-client) to dump JSON instead.

[2019-06-28 14:38] r0mainK opened #297 "Add driver killing capabilities"
I have found myself having a problem when trying to parse large amounts of files (~5k files). Basically what happens is that after parsing a large amount of files, the C++ driver stops responding completely, and the Parse request that triggered it, and all subsequent ones, timeout.

After some testing, I've realized that it seems that killing the running driver instance and relaunching it solves t

[2019-06-29 01:52] creachadair commented on #297
Having the ability to restart drivers explicitly isn't a bad idea. However, I think to really address the underlying issue of drivers getting stuck, we probably need to make it happen automatically as you suggested in (1). I'm a little reluctant to implement (2) until it's demonstrated to be really necessary, because it encourages people to bake hacks into external scripts that will make it hard f

[2019-06-29 14:21] dennwc commented on #297
Totally agree. As discussed of Slack, we could kill the driver after `userTimeout + parseTimeout`, this shouldn't affect the pool too much.

[2019-06-30 00:45] elizabethdinella commented on #296
Yes, thanks so much!

[2019-06-30 00:45] #296 closed

[2019-07-01 17:13] dennwc commented on #212
@lwsanty will continue to work on this, as discussed on Slack.

Specifically, we have a set of Go benchmarks in each driver which can be run using `go test -run=NONE -bench=. ./driver/...`. These benchmarks don't need a compiled driver, only the Go source and the data in `./fixtures` directory. This benchmark only profiles the driver's Native AST -> Semantic UAST transformation pipeline, not the d

[2019-07-02 07:26] lwsanty commented on #212
According to prev comment. I propose to achieve this in the same way as it was done in [borges](https://github.com/src-d/borges), [regression-borges](https://github.com/src-d/regression-borges)
Things that need to be done:
- [ ] create a separate repo in `bblfsh`, we can name it `performance-driver`, there's gonna be a utility and container built for further running benchmarks, parsing the output

[2019-07-02 07:59] bzz commented on #212
Overall looks good!

JFY [repository creation](https://github.com/src-d/guide/blob/master/engineering/repositories.md#repository-creation-request), as well as other ACL bits are handled by [Infra](https://github.com/src-d/infrastructure/issues) where appropriate issues has to be filed, as soon as there is a consensus.

Before doing that, shall we briefly discuss what kind of performance regression

[2019-07-02 12:38] dennwc commented on #212
:+1: for scheduling a call.

`bblfsh/performance` sounds like a good name.

Agree about the notifications - they are not that important. The MVP for me is a dashboard with `go test -bench=.` benchmarks for each driver, even without gRPC/`bblfshd`. We can't really optimize native parsing and we can't change the protocol lightly to reduce overhead. The only actionable item is the optimization of UAS

[2019-07-08 11:58] bzz commented on #268
@dennwc do you think we could close this one now, in favor of a separate new issue for different logs?

[2019-07-08 12:47] dennwc opened #298 "Large-scale parse 2"
Umbrella issue for tracking failures from the recent large-scale parse.

Supersedes #268

<details>
  <summary>Version information</summary>

[code]

</details>

Logs: [log 1](https://drive.google.com/open?id=1FFQmmEiKGoGSDQpFRdWCYKnGDAKo9nwE), [log 2](https://drive.google.com/open?id=1poUjXaV6mG7U-fLQTBneAkujKN7jSmRR)

Parsed: [log 1](https://drive.google.com/file/d/1DirlLgdmz3Mb52Ru_0CBwxnYmiHCj

[2019-07-08 12:48] dennwc commented on #268
@bzz Yes, sounds reasonable. Created a new one: https://github.com/bblfsh/bblfshd/issues/298

[2019-07-08 12:48] #268 closed

[2019-07-08 12:55] dennwc commented on #298
OK, since we now have a [list](https://drive.google.com/file/d/1Uk-l7TpzT83oG7LKINP9YYpeuO7UcuzN/view?usp=sharing) of unique errors, someone should look through them and further de-duplicate related ones.

Error messages might have a similar cause, for example, missing a specific AST field or having an extra one.

A new issue should be created for each unique error type in the corresponding driver

[2019-07-08 13:14] bzz commented on #220
Most probably be this should be a part of umbrella #212  and is about the input data for perf regression dashboard.

[2019-07-08 13:27] dennwc commented on #220
I think we can close this since @tsolakoua resolved it some time ago by sending PRs to every driver with code samples from the Rosetta Code and other places. We can discuss further steps in #212.

[2019-07-08 13:27] #220 closed

[2019-07-08 13:33] dennwc commented on #231
I think we can close this one, assuming all feature requests have their own issue filed.

[2019-07-08 14:44] creachadair commented on #231
It looks that way. If I'm wrong, let me know and I'll take care of it.

[2019-07-08 14:44] #231 closed

[2019-07-09 13:13] ncordon commented on #298
I can assign this to myself, but I am more focused in understanding drivers right now, so how urgent is this?

[2019-07-09 14:37] dennwc commented on #298
Not urgent, but it may uncover more issues.

Currently, both I and @bzz are busy so we can't take any of those issues even if discovered, but there may be new ones for you guys to work on.

Also note that this batch job was running an older `bblfshd` version, so some of the issues may be resolved already.

[2019-07-18 18:16] vmarkovtsev commented on #281
I confirm that it works now.

[2019-07-19 18:57] dennwc commented on #281
@vmarkovtsev Awesome, thanks for checking it!

Although it works for the current version, we will face the same issue again when switching to v3 when the time will come.

So leaving the issue open to decide what a potential fix may be.

We keep exposing more information in the driver's manifest, so we should be able to correctly identify compatible ones after a few more changes.

[2019-07-21 11:03] dpordomingo opened #301 "Read the logging level from an environment var"
caused by https://github.com/src-d/sourced-ce/issues/142

`bblfsh` logging level is only configurable through command arguments, so when directly using the docker image, configuring the logging level is not that simple as changing an env value from the outside.

[2019-07-21 17:10] creachadair commented on #301
This seems like a reasonable request, but I would rather not have to re-implement this from first principles. What do other teams do, to support this use case?

[2019-07-21 18:27] dpordomingo commented on #301
`gitbase` uses [`go-flags`](https://github.com/jessevdk/go-flags), as suggested by [our guides, about CLI tools](https://github.com/src-d/guide/blob/master/engineering/conventions/go.md#cli)

But newer `gitcollector`[[1]](https://github.com/src-d/gitcollector/blob/master/cmd/gitcollector/main.go#L13), `ghsync`[[2]](https://github.com/src-d/ghsync/blob/master/cmd/ghsync/main.go#L17) or `borges`[[3]

[2019-07-22 18:37] creachadair commented on #301
@dpordomingo Thanks for the pointers! It looks like the important contribution from `go-cli` is bringing in `go-log`. @kuba-- has already started some work on migrating us over to use `go-log`, so hopefully we will be able to get environment support more easily.

[2019-07-23 12:08] dennwc opened #302 "Log file hash when parsing files"
When parsing a file, it will be nice to log the content hash.

This will help us find specific files that fail during large parse jobs.

[2019-07-24 13:39] ncordon commented on #298
Just to leave a record of how I processed the files.

I scripted a [tool](https://gist.github.com/ncordon/315f799e479bbb011b73f2bc5d374832) to group errors by:
* Language (using [enry](https://github.com/src-d/enry) and intersecting with the list of drivers we have available -> there is no point on saying an error came from the `Hack` language, for example).
* Type of error (just by manually inspe

[2019-07-24 13:43] dennwc commented on #298
@ncordon Thanks for parsing it!

Since we now have separate issues for each unique error, we can safely close this one. Overall progress on these issues can still be tracked here since Github displays the status of all linked issues.

[2019-07-24 13:43] #298 closed

[2019-07-27 07:10] vmarkovtsev opened #303 "Timed out requests do not really end"
I am running massively-parallel UAST extraction from PGA. I am using 64 goroutines to parse.
I noticed that some of my machines got stuck in a few days and I investigated why.

Date: July **27** 9am.

### Machine 1

No other bblfsh processes except:
[code]

docker logs bblfshd | tail:

<details>
<pre>
time="2019-07-26T08:03:57Z" level=info msg="javascript-driver version: v2.9.0 (build: 2019-05-28T

[2019-07-27 12:41] dennwc commented on #303
Thanks for a very detailed report!

This is a known issue - the request cancellation can only be propagated to the Go part of the driver, but the native part will continue parsing anyway.

Can be fixed by killing the native driver when the request is canceled. It will slow down the next request because we'll need to restart the native driver, but it's definitely better than hanging forever.

We wi

[2019-07-29 15:39] bzz commented on #302
Nice idea. If only it would have been possible to search GH for a hash - that would have been an ideal solution

[2019-07-29 16:07] creachadair commented on #302
We have source hashes in the dependency graph. 😉

[2019-07-29 20:17] kuba-- commented on #302
Couple questions (loudly thinking):
- Do you want to hash every sent snippet?
- Do you want to store/cache `hash -> content`?
- Without storage how do you want to search for failing contents?
- If we have a cache/storage then maybe people can attach _header_ (sth. like `If-Match` or similar depends on protocol), so we can return immediately if we found a hash.

[2019-07-30 11:28] bzz commented on #302
@kuba--  The proposal is to (optionally) hash every parsed file and inlaced new filed to our logs with this hash.

This way, only the logs of the bblfshd process are the "storage" and it's merely a way to simplify the analysis of bblfshd logs, so that one have a reproducible examples for the tests. Hash is only used to verify that indeed, the file found though some manual process (I.e GH search by

[2019-07-30 15:23] creachadair commented on #302
I wasn't being all that serious, but just to clarify: That wasn't meant as a replacement for hashes in the log. I think that's useful for debugging even if we don't (otherwise) store them. Rather, I meant as a way to correlate the logged hashes back to file contents. Of course if we stick to SHA1 we could also use Gitbase to answer the same query (and probably more completely).

[2019-07-31 13:27] vmarkovtsev commented on #270
I don't think this happens anymore, I have processed 70% of PGAv2 and never had problems with this.

[2019-07-31 13:33] vmarkovtsev commented on #297
I think this is related to https://github.com/bblfsh/bblfshd/issues/303

[2019-07-31 17:12] #270 closed

[2019-08-05 13:46] lwsanty opened #304 "Memory leakage detection test"
**Summary** From time to time different teams experience memory leakage issues while working with the elements of our architecture such as bblfshd, separate drivers, clients etc. This is an umbrella issue to discuss methods of memory leakage detection on early stages before the damaged version reached users. It's worth to mention that under this task I assume detection of the fact of the leakage b

[2019-08-05 16:37] creachadair commented on #304
I think the idea is good, but the implementation will be complicated because of our cross-language stack. For the low-level components (e.g., the C extensions) we can probably use valgrind/memcheck or stub in a malloc shim like libefence to induce a failure on a test workload.

For code in the native client language, however, solutions will vary, and detecting leaks in the presence of a GC is tric

[2019-08-16 16:20] alonsopg opened #305 "java client can't parse code without a class?"
I am testing bblfsh for java and it can't parse java functions without being inside a class. For example:

When I do:

[code]
I get:

[code]
Is there any way of parse isolated pieces of java code?

[2019-08-16 17:04] creachadair commented on #305
Unfortunately I think the short answer is "no": The parser used by the Java driver expects the input file to conform to the Java grammar, which doesn't support standalone functions like this.

You may be able to work around this by constructing an input that wraps the snippet, for example:

[code]

This would suffice for the example you described here—but of course might not work for other syntact

[2019-08-16 17:27] alonsopg commented on #305
Thanks for the quick response! I thought in the same solution. However, I am curious about which syntatic forms might not work, do you have any idea?

[2019-08-16 17:42] creachadair commented on #305
Well, the only syntax that will work in my example are forms that are allowed at the top level of a class declaration—so, for example, field or method declarations and static initialization blocks. So arbitrary statements or expressions won't work, and would have to be further wrapped.

[2019-08-18 05:25] dennwc commented on #305
I was also thinking about ways to allow running the parser in other modes. Particularly, running it in the "declaration", "statement" and "expression" contexts. It might be quite useful, specifically for the expressions.

Parsers may not support it directly, instead we can generate a boilerplate code around the actual snippet and then strip related AST constructs in the response.

[2019-08-20 15:35] creachadair commented on #305
I'm reluctant to redesign the API to _require_ that a driver support this use case, unless we have evidence that the need to parse arbitrary grammar fragments is common enough and/or important enough to carry its weight. If it is, then this might be one strategy a driver could use to get there. Whether or not this workaround trick is effective depends a lot on the grammar of the language.

It's po

[2019-08-27 11:29] bzz commented on #305
If no objections, going to close this one as the question seems to be answered.

But please, do not hesitate to re-open, if that is not the case.

[2019-08-27 11:29] #305 closed

[2019-09-11 18:49] creachadair commented on #297
I don't think a flag is necessarily required: The key behaviour is that when the context is cancelled, the daemon needs to terminate the driver container serving that request. Once we have that, we could of course add a flag to set the timeout—but the client can also set its own timeout without any software changes on our side. The missing feature right now is the termination step.

[2019-09-13 17:51] creachadair opened #307 "Update Babelfish repository maintainers and add code owners"
Since the Language Analysis team has grown, the time has come to redistribute maintainership of the various repositories we maintain. Per the discussion during the [Q&A session](https://github.com/src-d/minutes/pull/718), [this sheet](https://docs.google.com/spreadsheets/d/1tHjtvFnsigFourjm9dEvJ6gdSsNc_9d7wBN3kgqvD3o/preview) contains the proposed reassignment.

Documentation for [CODEOWNERS file

[2019-09-18 13:19] lwsanty opened #309 "Periodically update image with pre-installed drivers"
### Pre-history
Currently we build docker image with all pre-installed drivers only when travis ci is triggered(on per-commit to master basis)

Thus we skip new driver versions until the next ci trigger for `bblfshd`

### Proposal
Add [cron job](https://docs.travis-ci.com/user/cron-jobs/) to `bblfshd`'s travis ci so we will have an ability to update drivers once in a period

### Problems
- _is not

[2019-09-18 13:26] dennwc commented on #309
This makes a lot of sense, but we should also think about a few more things:
- If we always update builtin drivers, it won't be possible for anymore to lock `bblfshd` version with a specific versions of builtin drivers. Maybe we can come up with some tag naming scheme to cover both `bblfshd` version and drivers? (`x.y.z-drivers-2019-09`?)
- When updating, we should probably reuse existing `bblfshd

[2019-09-18 13:59] lwsanty commented on #309
@vmarkovtsev wdyt about @dennwc 's comment, will it be useful for ML team?

[2019-09-18 14:28] vmarkovtsev commented on #309
As long as there is a tag which includes both the bblfshd version and the drivers date, it should be fine.

Speaking about us, we always install the drivers manually and choose only those which we need. We could switch to the full image if it is updated regularly.

[2019-09-19 10:56] kuba-- commented on #302
Next question - it's nice to have file's sha1 and be able to find it on git service (like github) by sha1, but git sha1 are calculated on original content, but in our case `bblfshd` gets already _trimmed_ content.
So, how it can be useful? Maybe we can calculate it in clients (where have a original file) and pass it down?

[2019-09-19 13:48] dennwc commented on #302
I wouldn't call what Git hashes "an original content" (file content itself is), but it definitely makes sense to calculate Git hash. Maybe not as a replacement, but a second hash? We don't really know if the file comes from Gitbase, or just from the client sending it from FS directly, for example. It will be strange to see that logs of Babelfish won't match what `sha1sum` returns.

[2019-09-19 13:57] kuba-- commented on #302
It does not matter if it's a git, github or gitbase.
My point was - what client gets is different to what bblfshd gets (because e.g. content is tailored).
So, you will log different hash (based on tailored content because most likely it will come from some bblfsh client), so how you can find the _non-tailored_ content? How it can be helpful?

[2019-09-19 15:05] dennwc commented on #302
My point is, if a regular client sends a file and checks logs, he will expect a `hash(content)`, as in `sha1sum`.
If some Git-related batch processor sends a file, we may find `hash(size, content)` more useful, since it's the way Git addresses blobs.
`bblfshd` has no way to know which use case is in play, so I think we can calculate both hashes: one for us (Git-specific, to search for it later) an

[2019-09-20 11:49] kuba-- commented on #293
Couple questions:
- do we want to expose _pure_ container's metrics or mainly _driver's_ metrics?
- do drivers have/collect any prometheus metrics?
- if we want to propagate metrics from drivers and we don't want to expose any new port (and for instance install push gateway), maybe we can go with following approach:
We will have another `sock` file, on mounted volume (like we have `GRPCSocket = "r

[2019-09-20 16:10] dennwc commented on #293
We don't have container metrics since we use `libcontainer`. We'll need to implement them on our own, if needed.

So yes, for now only metrics exposed by the driver.

To be honest, I don't remember. Need to check SDK for this. Probably not yet, because we had no way to access those metrics.

This is exactly what I wanted to avoid here, because instead of running a single driver container we will h

[2019-09-20 17:19] kuba-- commented on #293
So, why we don't expose prometheus on each driver. When you install a new driver it will get a random available port on bblfshd which will be mapped to container's (driver's) :2112 (prometheus).
bblfshd will also register another endpoint in _the main, infra_ prometheus.
No aggregation needed, no need to switch to docker, etc.Kind of transparent solution.

[2019-09-20 19:45] dennwc commented on #293
It would be ideal, I guess, but we may create/kill drivers at a very high rate, so updating a set of Prometheus data sources may end up being harder than aggregating. Also, it may be hard to set up because bblfshd will need to access Prometheus and change its configuration. I don't think Infra will like it.

And aggregation is not as hard as you may think. It should not be harder than reading a bu

[2019-09-20 20:36] creachadair opened #310 "Investigate integrating analysis results from PMD"
The [PMD](https://github.com/pmd/pmd) tool does a lightweight rules-based static analysis of source code to detect bugs and other potential issues. I had a conversation with @rsoesemann, one of the maintainers of PMD, about some possibilities for integrating analysis results from the tool with UASTs.

I created this issue to track an investigation of what is possible and/or feasible. PMD can be ru

[2019-09-20 20:49] rsoesemann commented on #310
Here is the corresponding PMD issue https://github.com/pmd/pmd/issues/2028

[2019-09-22 19:14] kuba-- commented on #293
I think adding a new drivers does not happen very often. Although, registering new node a new node in _prom._ should be a big deal. Moreover if _prom._ tries to hit non-existing driver it should auto-drop this node.
Anyway, this solutions sounds more elegant comparing to aggregation-proxy functionality in bblfshd.

[2019-09-23 14:40] rsoesemann commented on #310
@creachadair to get started in PMD you should probably start in https://github.com/pmd/pmd/tree/master/pmd-apex/src/main/java/net/sourceforge/pmd/lang/apex where you find als the AST nodes, rules and infrastructure.

The closed source (will be eventually open sourced) parser JORJE for Apex can be found here https://github.com/pmd/pmd/tree/master/pmd-apex-jorje/repo/apex/apex-jorje-lsp-minimized/20

[2019-09-25 22:21] creachadair commented on #293
I'm inclined to aim for the solution that requires the least additional coupling. If we look at the set of all running drivers for a given language as a single job regardless which daemon is running them, I think we get more or less the same thing as if we export them individually, right? Unlike logs, where identity matters, I think we don't really care _which_ shard produced a particular sample,

[2019-09-25 22:49] dennwc commented on #293
@kuba-- It happens regularly because of the scaling policy in bblfshd. Each second it may kill or run another driver instance. And if you have N clients <= the max number of drivers, one client will always lag a bit and bblfshd may kill/start a driver each policy tick. I've tried to prevent this in a few previous PRs, but I think it may still happen under some circumstances.

I agree with @creacha

[2019-10-01 11:25] #297 closed

[2019-10-01 11:33] dennwc opened #311 "Update SDK to improve errors propagation"
https://github.com/bblfsh/sdk/pull/432 was merged. Now we need to update bblfshd after the SDK release to propagate more error codes.

[2019-10-03 13:27] kuba-- commented on #293
How about following design:

`bblfshd` runs a local prometheus instance and the global prometheus pulls metrics from all `bblfshd` instances.
Next to the prometheus server on `bblfshd` (it can be in the same process), we will also run some kind of `prometheus aggregator` (for instance this one: https://github.com/peterbourgon/prometheus-aggregator) and the background goroutine as a coordinator.
A

[2019-10-03 18:05] creachadair commented on #293
That design seems mostly reasonable, but I don't understand the purpose of separately aggregating the driver metrics locally in the daemon. If the drivers were going to export a prometheus instance anyway, we could have the global prometheus poll them directly.

I realize the way it's set up right now that would not work, because of how we run the drivers in libcontainer. I think we [mostly agreed

[2019-10-03 20:37] kuba-- commented on #293
Partly yes (as I understood correctly @dennwc concerns). On the other hand, we create new and kill old drivers. Drivers run in containers and have to expose some random port for prometheus, on the host.
So, every time when we kill/create a new driver we have to de/register  a new local prometheus in the global one (to let pull metrics). I believe prom. client can do it dynamically for running cont

[2019-10-04 10:55] kuba-- opened #313 "Refactor scalability mechanism - make it _container agnostic_"
Based on [Q&A session](https://github.com/src-d/minutes/blob/master/languages/2019-09-24-qa-session.md), the current driver container management approach in Babelfish has some potential problems with compatibility across different OS.

We agreed to switch to docker API as a standard runtime for drivers.

[2019-10-04 12:00] dennwc commented on #293
Agree on switching to docker. The main reason why I insisted on aggregating metrics from drivers in the daemon is because it's the only way to expose metrics without additional configs.

So if we can switch to Docker, this removes any concerns on my side - it's much easier to let Prometheus to pull all metrics from all containers (including drivers) and be done with it.

[2019-10-04 12:26] kuba-- commented on #313
It's also partly related to https://github.com/bblfsh/bblfshd/issues/293

[2019-10-08 08:16] #309 closed

[2019-10-08 08:20] dennwc commented on #313
Also note that one of the considered options is [containerd](https://containerd.io/), which is used by Docker under the hood. It's not as low-level as libcontainer and is more similar to Docker itself in this regard.

But running in Docker first makes a lot of sense.

[2019-10-08 08:39] lwsanty commented on #309
need to wait for ttps://github.com/src-d/infrastructure/issues/1203 until changes start to work

[2019-10-08 20:52] kuba-- commented on #313
The goal of this task is to  get rid of `libcontainer` runtime from `bblfshd`, expose common _Driver's API_  in such a way, that we can internally integrate `docker`and/or `containerd`.

We can split `Driver interface`  into two interfaces: `Driver` and `Container`
[code]

Two independent _sub-packages_ - `docker` and `containerd`will implement  both interfaces. We can import driver implementation

[2019-10-09 12:40] dennwc commented on #313
@kuba-- Looks good overall, but I have a few questions.

1) Why `Service` and `ServiceV2` are on the `Driver` and not on the `Container`?

2) We probably don't need `lang` - it should be inferred from the image itself (either from metadata or from a manifest inside the image).

3) Previously we supported all kinds of driver image formats. We should at least note what formats will be no longer supp

[2019-10-09 15:30] kuba-- commented on #313
@dennwc:

1) Mainly because it looks these services are not related to container or any process running inside container. So far, we have:
[code]

where `DriverInstance` contains:
[code]

Container interface should have only functions which can communicate with processes running inside a container, specific per implementation (docker, containerd).

---
2) Makes sense. I'll fix it.
---
3) Good to k

[2019-10-09 17:23] creachadair commented on #313
Overall this seems like a good start. My only request for now is that we extract some of this discussion into a design doc, so that we can have a record of the eventual state of the API we plan to implement.

[2019-10-09 18:22] kuba-- commented on #313
@bblfsh/maintainers
I moved this design to the doc: https://docs.google.com/document/d/1671ApmxFCOmerVKloVC6Q6j8BsJr8xZHbhuE40ZK-as/edit?usp=sharing

So far, there is nothing more (just copied the current proposal), but we can continue discussion in the doc (like @creachadair suggested).

[2019-10-15 10:18] smola commented on #313
Please, consider how this will run in a Kubernetes pod. If we use Docker backend, we might effectively need a Docker in Docker setup. In any case, creating a runtime interface sounds great and I hope it might help with rootless containers at some point.

[2019-10-21 10:05] ncordon opened #316 "install --all haves the same effect as --recommended"
[code]
should install also the alpha drivers, as described in https://docs.sourced.tech/babelfish/using-babelfish/advanced-usage#adding-all-drivers

Currently, it only installs the recommended drivers, as:

[code]

[2019-10-21 10:39] ncordon opened #317 "bblfshd and go-client interdependency"
`bblfshd` imports `go-client` [here](https://github.com/bblfsh/bblfshd/blob/bc35c1d6/cmd/bblfshctl/cmd/parse.go), and probably in other places, but at the same time `go-client` needs the `bblfshd` to be running in order to work. This is a cycle in dependencies that may be worth exploring and solving.

[2019-10-21 15:19] creachadair commented on #317
I believe it's not a strict cycle: `bblfshd` has a static dependency on some of the client library's support code, but I think not the client itself.  The opposite is a runtime (RPC) dependency.

That said: This probably _does_ mean we could factor out the shared code as a separate package, even if it continues to live in the client repo.

[2019-10-22 12:23] dennwc commented on #316
I think it may be because all other drivers are now too old and don't support current SDK, so they are ignored by current version of `bblfshd`.

[2019-10-22 21:39] creachadair commented on #313
We discussed this a bit more in https://github.com/src-d/minutes/pull/778. While there are important design elements we still need to investigate, we broadly agreed that our target state should:

1. Separate scalability support from basic operation,
2. Delegate scalability to other components (e.g., Kubernetes), but
3. Support running locally for simple workloads without requiring users to install

[2019-10-24 09:45] kuba-- opened #319 "Design/Prototype scalability and deployment support"
Investigate/research and design a new way to scale `bblfshd` without current internal implementation of container management with `libcontainer`.
There are two layers of scalability:
- scale drivers (we can hide pool of certain driver behind some kind of headless service/load balancer)
- scale native drivers (processes inside a driver, so far it's a single thread - stdio communication)

This task

[2019-10-24 10:53] kuba-- opened #320 "Design/Prototype local scalable environment"
We want to have local environment which is also scalable, but will not require any kubernetes installation. Of course we may have k8s configuration or docker-compose files what let people run daemon and all drivers on minikube or any hypervisored environment. But the main goal is to orchestrate it in such a way to make this doable and painless for users.

This task is part of the epic: #313

[2019-10-24 11:05] kuba-- opened #321 "Prototype native parser scaling mechanism"
Native parsers as processes should be also scalable (so far it's a single threaded, stdio process). This task is mainly about internal scalability mechanism.
The implementation should be preceded by some design document.
Also, the task will require changes in `sdk`, so it makes sense to attach a link to sdk's task, here.

This task is part of the epic: #313

[2019-10-24 11:17] kuba-- opened #322 "Test scalability layers"
This is very generic task related to testing a new scalability mechanism (based on k8s, minikube, docker-compose, or any other provider).
It may require to write a new tests or just to test some parts manually. Also deployment can be part of testing that configuration files work locally and with cloud providers.

Most likely it's yet another _umbrella task_ for all _test_ tasks, but we can split i

[2019-10-24 11:21] dennwc commented on #321
I think it may be easier to go from a different angle: keep native drivers single-threaded, but allow running multiple native processes, which are controlled/scaled by Go driver server (the "stdio-to-gRPC proxy" that exists in every driver).

Scaling can be very naive: always keep 1 driver instance alive, if more requests arrive - run more processes inside the same container (up to the number of C

[2019-10-24 11:22] kuba-- commented on #313
I made this task as epic/umbrella task. Following sub-tasks may also be _tracking_ tasks, so if it's needed we can split them ask well, as needed:

- [ ] https://github.com/bblfsh/bblfshd/issues/319
- [ ] https://github.com/bblfsh/bblfshd/issues/320
- [ ] https://github.com/bblfsh/bblfshd/issues/321
- [ ] https://github.com/bblfsh/bblfshd/issues/322

[2019-10-24 11:29] kuba-- commented on #321
This part should not touch k8s in any sense. In my opinion it's up to us how many CPU we allow to use (GOMAXPROCS). The whole thing sounds to me like a queueing system which we can implement. And we can handle number of processes which can pull tasks from the queue.
if one routine finished the task and wants to return to the pool we can close it or keep running and pull another task.

[2019-10-24 11:34] kuba-- opened #323 "Drivers discovery mechanism"
This is hypothetical issue related to driver discovery by bblfshd.
Because we want to get rid of container management part from bblfshd and make it just as a proxy we don't know exactly what discover/dns resolution mechanism we will use.
It can totally rely on k8s dns service or it can take static number of addresses or some config file with pool of addresses per driver.
It's up to us. The most im

[2019-10-24 12:29] dennwc commented on #321
I'm mentioning K8S only to illustrate how this change can fit in the whole picture. It's not directly related.

Re: queueing, yes, this is more or less what I propose, at least if you mean implementing it in a Go process and not externally :)

[2019-10-24 12:43] dennwc commented on #323
Assuming the proposed change in https://github.com/bblfsh/bblfshd/issues/321 is implemented, we won't need any external scaling for the local use case, only the discovery mentioned in this issue.

Also, I think discovery and "bblfshd as a proxy" can be separate.

For example, we can completely remove bblfshd in K8S and talk to drivers directly (via `Ingress`/`Service`) if we figure out a way to us

[2019-10-24 14:50] ncordon opened #325 "make test fails"
`make test` seems to be broken failing with:

[code]

`make test-coverage` works though

[2019-10-24 15:22] creachadair commented on #325
It looks like something is trying to `exec` a command line that is meant to be a shell script rather than a single command. I'm not sure what would have changed, though.

(The handling of prefix assignments like `X=y Z=a cmd arg1 arg2 …` is done by the shell, not by `exec*`)

[2019-10-24 15:55] ncordon commented on #325
I have debugged it poorly, but it seems that we are using a docker image there which just has a `reports` folder. I have tried to change it to `bblfsh/bblfshd:fixtures`, which is build on `make dependencies` and does contain a whole structure of Unix directories, but does not have a `go` command inside installed.

[2019-10-25 15:41] creachadair commented on #307
All done! Congratulations to all the new owners. 😁

[2019-10-25 15:41] #307 closed

[2019-10-25 16:42] #302 closed

[2019-10-28 15:45] dpordomingo commented on #301
How is the migration going?

Would it be a simple alternative something like this [bblfsh/web#227](https://github.com/bblfsh/web/pull/227/files#diff-157b0e016d598e869df099dff16c041bR44)?
In summary, the logging level could be read from the environment and set if no `log-level` arg was passed at [cmd/bblfshd/main.go#L84](https://github.com/bblfsh/bblfshd/blob/master/cmd/bblfshd/main.go#L84)

Doing

[2019-10-28 17:27] #311 closed

[2019-10-28 18:58] creachadair commented on #301
That seems like a reasonable workaround to me. It looks like the work that @kuba-- did makes this a simple enough change to make, too. See #327.

[2019-10-29 14:12] bzz commented on #301
Going to close this one, as it seems to be fixed by #327 and released under [v2.16.1](https://github.com/bblfsh/bblfshd/releases/tag/v2.16.1).

But please, feel free to re-open if that is not the case!

[2019-10-29 14:12] #301 closed

[2019-10-29 16:15] dpordomingo commented on #309
I know this is already closed, but found when bumping `sourced-ce` with the new `v2.16.1-drivers` release:
Did you consider to release, with the cron-ed release, an extra `v2.16.1-drivers-latest` one?

[2019-10-31 11:43] ncordon opened #329 "cron job fails in Travis"
cron job fails in Travis CI. It seems that the work which is failing is the `make build-drivers` because it cannot set `VERSION` variable correctly in the Makefile. See [this line](https://travis-ci.org/bblfsh/bblfshd/builds/605167962#L2125) for instance:

[code]

The `VERSION` variable gets empty to that line. Not urgent, but ping @lwsanty

[2019-10-31 12:54] ncordon commented on #309
I think this is related: #329

[2020-03-02 13:14] PtrBld opened #330 "Is this still active?"
All the docs are down as well as the website of sourced. Is this project still actively maintained?

[2020-03-02 13:47] kuba-- commented on #330
Everything related to source{d} can be down, because the company was closed.
Regarding the bblfsh project, it's all in hands of maintainers and collaborators. But the truth is, there is no a single person who works on this project full time (or at least I don't know any).

[2020-03-03 23:02] #330 closed

[2020-03-04 06:41] #237 closed

[2020-03-04 06:43] #211 closed

[2020-03-04 21:19] kuba-- opened #331 "Archive project(s)"
@bblfsh/maintainers  - guys don't you think we should archive this project (or even all projects in bblfsh org)?

[2020-03-07 17:38] #331 closed

[2020-03-27 23:08] creachadair opened #332 "Ongoing maintenance of the Babelfish project"
I have unarchived this repository and created this issue to discuss a possible handoff of ownership of the Babelfish project.

The Wildcard (@w6d-io) team has been using Babelfish for various purposes for some time now. Since the original source{d} team is no longer available to update it, @grumbach and @cordiers asked if we would consider allowing them to take over its maintenance and development

[2020-04-03 09:56] dennwc commented on #332
I fully agree with this proposal. I would also like the project to continue and will try to dedicate some time for maintaining it as well.

[2020-04-03 10:21] kuba-- commented on #332
I'm still in this org. what means that I care.
So, go for it!

[2020-04-03 10:54] grumbach commented on #332
Thanks guys! We're so glad this project still has such a great community around it! 🥇

[2020-04-03 15:39] creachadair commented on #332
It sounds like we mostly have consensus here. As a first step, I just invited @grumbach and @cordiers to the organization. Unless there is any objection, I would also like to promote you both to project owners.

[2020-04-07 17:45] creachadair commented on #332
Having heard no further comments, most notably having heard no further objections, I will now promote @grumbach and @cordiers to owners.

[2020-04-07 17:49] creachadair commented on #332
I believe we've now resolved this question, so I'm closing the issue. Feel free to re-open if you believe we need further discussion, or file new issues for related topics.

[2020-04-07 17:49] #332 closed

[2020-06-23 16:33] thorium232 opened #333 "Driver instance not killed after deadline"
bblfshd: v2.16.1
typescript-driver: v0.8.2

Test case:

- Driver hangs with code below.
- If the client sets a grpc deadline the call is aborted as expected but then the driver instance becomes useless and every new request (with different source code) hangs as well.

`// @allowJs: true
// @noEmit: true

// @fileName: a.js
function Y(e, t) {
                        e |= 0, t |= 0;

[2020-07-21 10:27] #310 closed

[2020-07-21 14:00] KateGo520 opened #334 "Cannot get latest version: module contains a go.mod file, so module path should be github.com/bblfsh/bblfshd/v2"
## Background
The github.com/bblfsh/bblfshd uses [Go modules](https://github.com/golang/go/wiki/Modules) and the current release stream version is **v2**. It must comply with the specification of "Releasing Modules for v2 or higher" available in the Modules documentation and enforced since the most recent versions of Go. The module path should be “github.com/bblfsh/bblfshd/v2”. Quoting the specifi

[2020-07-21 14:01] KateGo520 commented on #334
@ncordon  @dennwc  Could you help me review this issue? Thx :p

[2020-07-21 16:43] grumbach commented on #334
Hi @KateGo520, thank you very much for this issue! I agree with you, this is a pretty high severity one. As you suggested @ncordon and @dennwc probably know what's best to do.
As a backup plan in case they're unavailable, I'd gladly accept a PR with your favorite fix.
I hope you are doing well in these times of crisis.

[2020-07-24 01:31] KateGo520 commented on #334
@grumbach Thank you for your reply.

[2020-07-25 16:55] kuba-- commented on #334
IMO, it would be totally fine to update/fix `go.mod` file and release `v2.17.0`

[2020-08-17 03:17] KateGo520 commented on #334
@grumbach   A PR with your favorite fix here.

[2020-11-30 14:41] pwntester opened #336 "Security Issue: Request for contact"
Hello,

The [GitHub Security Lab team](https://securitylab.github.com/) has found a potential vulnerability in your project. Please create a [Security Advisory](https://docs.github.com/en/free-pro-team@latest/github/managing-security-vulnerabilities/creating-a-security-advisory) and invite me in to further disclose and discuss the vulnerability details and potential fix. Alternatively, please add

[2020-12-07 09:22] niuzhi opened #337 "bblfshd not run"
Hello，
I run "docker exec -it bblfshd bblfshctl parse /run/media/tarpit-c-master/python.py" command,ast not output,why?
![image](https://user-images.githubusercontent.com/33443724/101332772-b65ed580-38b0-11eb-8270-4a9eff564d6b.png)

[2020-12-08 12:13] kuba-- commented on #337
Do you have the python file on that container? How does it look like?

[2020-12-13 22:32] romainr opened #338 "https://doc.bblf.sh/ down?"
When opening https://doc.bblf.sh/ in Chrome

[code]

[2021-07-27 11:13] josue2609 opened #339 "Babelfish run test error"
From terminal I have this message :
"python.exe: No module named bblfsh.__main__; 'bblfsh' is a package and cannot be directly executed"

I try to add the main file in the bblfsh package but I don't know ho to put in.

I use Windows 10 and virtual env from python3.9.8
I have installed bblfsh by pip and when I run the command python3 -m bblfsh -f /path/to/file I got the error above.

[2022-10-14 11:03] maddin79 opened #346 "Is bblfshd dead?"
Is this project still maintained? The website is down and no progress over the last month.

Best
Martin

[2022-10-14 11:53] david972 commented on #346
Hi we’ve got the ownership but our team has been reduced
So for now it’s not really maintained
But any help is welcomed

[2022-10-14 11:53] #346 closed

[2022-10-28 04:57] maddin79 commented on #346
Hey David,

I hope you will find the time to go on with this. It is a great project. Unfortunately I have no experience in Go and have no time to dig into it. Sorry

[2022-10-28 13:02] kuba-- commented on #346
@maddin79 - I worked for bblfshd project for a while, so maybe I can help. Do you have any particular use case which you want to discuss?